/*---
title: Align
name: positionAlign
section: Position Helpers
---

eets `text-align`.

class           | description
--------------- | ---------------------------------
`align--left `  | Sets `text-align` to `left`
`align--center` | Sets `text-align` to `center`
`align--right`  | Sets `text-align` to `right`
*/

.align--left {
  text-align: left;
}

.align--center {
  text-align: center;
}

.align--right {
  text-align: right;
}
