/*----
title: Size Modifiers
name: typeSizeModifiers
section: Type Modifiers
----
Modifies size of text and adjusts leading accordingly.

```example:html
<p class="typemod--huge">Huge text</p>
<p class="typemod--xxlarge">XXL text</p>
<p class="typemod--xlarge">XL text</p>
<p class="typemod--large">Large text</p>
<p>Default body text</p>
<p class="typemod--small">Small text</p>
<p class="typemod--tiny">Tiny text</p>
```
*/
.typemod--huge {
  font-size: var(--font-size-heading1);
  line-height: var(--font-lineHeight-bigText);
}

.typemod--xxlarge {
  font-size: var(--font-size-heading2);
  line-height: var(--font-lineHeight-bigText);
}

.typemod--xlarge {
  font-size: var(--font-size-heading3);
  line-height: var(--font-lineHeight-bigText);
}

.typemod--large {
  font-size: var(--font-size-big);
}

.typemod--small {
  font-size: var(--font-size-small);
  line-height: var(--font-lineHeight-smallText);
}

.typemod--tiny {
  font-size: var(--font-size-tiny);
  line-height: var(--font-lineHeight-tinyText);
}
