/*----
title: Weight Modifiers
name: typeWeightModifiers
section: Type Modifiers
----
Modifies weight of text.

```example:html
<p class="typemod--bold">Bold Text</p>
<p class="typemod--book">Book Text</p>
<p class="typeset--head3 typemod--book">Heading3 modified with book weight</p>
```
*/
.typemod--bold {
  font-weight: var(--font-weight-bold);
}

.typemod--book {
  font-weight: var(--font-weight-default);
}
