import { Meta } from "@storybook/addon-docs/blocks";
import { useClipboard, useToggleHover } from 'components/util/storybook'
import cc from 'classcat';
import { TableLayout } from "components/util/Table"

export const importPath = iconName => (
  `import ${iconName}Icon from '@cbinsights/fds/lib/icons/react/${iconName}Icon';`
);

export const Icon = ({ name, svg }) => {
  const [copiedText, copyToClipboard] = useClipboard();
  const [isHovered, toggleHover] = useToggleHover();
  return (
    <li>
      <div
        onClick={() => copyToClipboard(importPath(name))}
        className={cc([{
          'elevation--1': !isHovered,
          'elevation--3': isHovered,
        }, 'rounded--all'])}
        onMouseEnter={toggleHover}
        onMouseLeave={toggleHover}
      >
        <div
          dangerouslySetInnerHTML=\{{ __html: svg }}
        />
        <span
          className={cx("copyNotice", { 'display--block': isHovered })}
        >
          {copiedText ? <b>Copied to Clipboard</b> : 'Copy to Clipboard'}
        </span>
      </div>
      <p className="align--center wrap--singleLine--truncate type--data padding--top--half">{name}</p>
    </li>
  )
}

<Meta title="Icons/Icons" />

# Icons

FDS provides an icon set in `svg`, `png`, and React component formats. This page covers
React component usage. For more details about using other formats please see the [icons
README](https://github.com/cbinsights/form-design-system/tree/master/src/icons#usage).

<TableLayout
  headers={['Prop', 'Type', 'Default', 'Description']}
  rows={[
      ['`color`', '`String`', '`COLOR_CHARCOAL`', 'Color of `fill` for SVG'],
      ['`size`', 'One of: `\'xs\' | \'s\' | \'m\' | \'l\' | \'xl\'`', 's', 'Standard media size of icon'],
      ['`customSize`', '`Number`', '`-`', 'Sets a non-standard size for the icon. Prefer using the size prop.'],
  ]}
/>

Clicking on an icon below will copy the import statement.

<ul className="iconList">
  {{#each this}}
    <Icon name='{{this.name}}' svg='{{{ this.svg }}}' />
  {{/each}}
</ul>
