import { useState } from 'react'
import { Meta, Story, Preview, Props, ColorPalette, ColorItem } from "@storybook/addon-docs/blocks";

export const Icons = () => (
  <div>
    <ul className="icon-list">
      {{#each this}}
        <li>
          <div
            dangerouslySetInnerHTML=\{{ __html: '{{{ this.svg }}}'  }}
          />
          <p>{{this.name}}</p>
        </li>
      {{/each}}
    </ul>
  </div>
)

<Meta title="FDS|Icons" />

# Icons

Click on an icon to copy it's path to your clipboard

<Icons />