import React from 'react';

const {{componentName}} = ({
  size = 's',
  color,
  customSize
}) => (
  <div
    className={`fds-icon fds-icon--${size}`}
    style=\{{
      fill: color,
      width: customSize && `${customSize}px`,
      height: customSize && `${customSize}px`,
    }}
  >
    {{{svg}}}
  </div>
);

export default {{componentName}};

