:root {
  --font-family-mono: "IBM Plex Mono","Menlo","DejaVu Sans Mono","Bitstream Vera Sans Mono","Courier", monospace;
}

body {
  font-size: 16px;
  padding: 1rem;
  line-height: 1.4;
  color: #c2bfbf;
  background: #333;
  text-rendering: geometricPrecision; /* stylelint-disable-line */
}

.bounds {
  margin: 0 auto;
  padding: 0 32px;
  margin-bottom: 32px;
}

a:link,
a:visited,
a:hover,
a:active {
  color: #fff;
}

hr {
  border-top: 0;
  border-color: #006699;
  border-style: dotted;
  margin: 32px 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
code {
  margin: 0;
  padding: 0;
}

h1,
caption {
  margin-bottom: 16px;
  color: #bbdbe5;
}

caption {
  font-weight: bold;
  text-align: left;
}

code {
  font-family: var(--font-family-mono);
}

table {
  text-align: left;
  margin: 32px auto;
}

th,
td {
  padding: 8px 16px;
}

tr {
  border-bottom: 1px solid #a2a0a0;
}

thead tr {
  border-color: #fff;
}

tbody tr:last-child {
  border-width: 0;
}

thead {
  color: #fff;
}

table code {
  color: #70c390;
}

.shapeList {
  display: flex;
  flex-wrap: wrap;
  margin-left: -32px;
}

.shapeList-shape {
  display: flex;
  margin: 0 0 16px 32px;
}

.shape-svg {
  width: 40px;
  height: 40px;
  margin-bottom: 16px;
}

.shape-svg svg {
  fill: #fff;
}

.shape-desc {
  outline: lime;
  margin-left: 8px;
}

.desc-name,
.desc-import {
  display: block;
}

.desc-name {
  font-size: 18px;
}

.desc-import {
  font-size: 10px;
  font-style: italic;
  color: #d772ad;
  padding: 4px;
  max-width: 260px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.desc-import:hover {
  cursor: pointer;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 4px;
}

.toast {
  font-size: 13px;
}
