/* TODO: import vars */
:root {
  --space-gutter: 16px;
}

/* Flex parent */
.flex {
  box-sizing: border-box;
  display: flex;
  flex-wrap: nowrap;
}

/* direction */
.flex--row {
  flex-direction: row;
  width: 100%;
}

.flex--row--reverse {
  flex-direction: row-reverse;
}

.flex--column {
  flex-direction: column;
  height: 100%;
}

.flex--column--reverse {
  flex-direction: column-reverse;
}

/* parent justify */
.flex--justifyEnd {
  justify-content: flex-end;
}

.flex--justifyCenter {
  justify-content: center;
}

.flex--justifySpaceBetween {
  justify-content: space-between;
}

.flex--justifySpaceAround {
  justify-content: space-around;
}

/* parent align */
.flex--alignStretch {
  align-items: stretch;
}

.flex--alignStart {
  align-items: flex-start;
}

.flex--alignCenter {
  align-items: center;
}

.flex--alignEnd {
  align-items: flex-end;
}

.flex--wrap {
  flex-wrap: wrap;
}

/* Flex child */
.flexItem {
  box-sizing: border-box;
  flex-basis: 0;
  flex-grow: 1;
  width: auto;
  min-width: 0;
}

.flexItem--shrink {
  flex-basis: auto;
  flex-grow: 0;
  flex-shrink: 0;
  width: initial;
}

.flex--row > .flexItem {
  height: 100%;
  padding-left: var(--space-gutter);
}

.flex--column > .flexItem {
  width: 100%;
  flex-basis: auto;
  padding-top: var(--space-gutter);
}

/* child justify */
.flexItem--justifyStart {
  justify-self: flex-start;
}

.flexItem--justifyEnd {
  justify-self: flex-end;
}

.flexItem--justifyCenter {
  justify-self: center;
}

.flexItem--justifySpaceBetween {
  justify-self: space-between;
}

.flexItem--justifySpaceAround {
  justify-self: space-around;
}

/* child align */
.flexItem--alignStart {
  align-self: flex-start;
}

.flexItem--alignCenter {
  align-self: center;
}

.flexItem--alignEnd {
  align-self: flex-end;
}

/* Gutters */
/* stylelint-disable selector-max-specificity */
.flex--row:not(.flex--row--reverse) > .flexItem:first-child,
.flex--row--reverse > .flexItem:last-child {
  padding-left: 0;
}

.flex--column:not(.flex--column--reverse) > .flexItem:first-child,
.flex--column--reverse > .flexItem:last-child {
  padding-top: 0;
}

.flex--noGutters > .flexItem {
  padding: 0 !important;
}
/* stylelint-enable */
