/* TODO: import vars */
:root {
  --space-gutter: 16px;
}

/* Flex parent */
.flex {
  box-sizing: border-box;
  display: flex;
  flex-wrap: nowrap;
}

/* direction */
.flex--row {
  flex-direction: row;
  width: 100%;
}
.flex--row--reverse {
  flex-direction: row-reverse;
}
.flex--column {
  flex-direction: column;
  height: 100%;
}
.flex--column--reverse {
  flex-direction: column-reverse;
}

/* parent justify */
.flex--justifyEnd {
  justify-content: flex-end;
}
.flex--justifyCenter {
  justify-content: center;
}
.flex--justifySpaceBetween {
  justify-content: space-between;
}
.flex--justifySpaceAround {
  justify-content: space-around;
}

/* parent align */
.flex--alignStart {
  align-items: flex-start;
}
.flex--alignCenter {
  align-items: center;
}
.flex--alignEnd {
  align-items: flex-end;
}

.flex--wrap {
  flex-wrap: wrap;
}

/* Flex child */
.flexItem {
  box-sizing: border-box;
  flex-basis: 0;
  flex-grow: 1;
  width: auto;
  min-width: 0;
}

.flexItem--shrink {
  flex-basis: auto;
  flex-grow: 0;
  flex-shrink: 0;
  width: initial;
}

/* child justify */
.flexItem--justifyEnd {
  justify-self: flex-end;
}
.flexItem--justifyCenter {
  justify-self: center;
}
.flexItem--justifySpaceBetween {
  justify-self: space-between;
}
.flexItem--justifySpaceAround {
  justify-self: space-around;
}

/* child align */
.flexItem--alignStart {
  align-self: flex-start;
}
.flexItem--alignCenter {
  align-self: center;
}
.flexItem--alignEnd {
  align-self: flex-end;
}

/* Gutters */
.flex--row .flexItem:not(:first-child) {
  padding-left: var(--space-gutter);
}
.flex--column .flexItem:not(:first-child) {
  padding-top: var(--space-gutter);
}
.flex--noGutters .flexItem {
  padding: 0;
}
