.tippy-box[data-theme~='popover-unthemed'] {
  background: transparent;
  color: inherit;
  border-radius: initial;
  font-size: unset;
  line-height: initial;
}

.tippy-box[data-theme~='popover-unthemed'] .tippy-content {
  padding: 0;
}
