.tippy-box[data-theme~='popover-default'] {
  color: inherit;
  background-color: var(--color-white);
  border-radius: var(--border-radius-default);
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14),
    0 1px 10px 0 rgba(0, 0, 0, 0.12),
    0 2px 4px -1px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.tippy-box[data-theme~='popover-default'] .tippy-content {
  padding: 0;
  box-shadow: none;
}
