
.fdsCheckbox {
  position: relative;
}

.fdsCheckbox-input {
  position: absolute;
  opacity: 0;
  left: 0;
  top: 0;
}

.fdsCheckbox-label {
  display: inline-flex;
  align-items: center;
}

.fdsCheckbox--disabled :matches(.fdsCheckbox-label,.fds-icon) {
  color: var(--font-color-hint) !important;
}

.fdsCheckbox .fds-icon {
  color: var(--font-color-secondary);
}

.fdsCheckbox-input:checked + .fdsCheckbox-label .fds-icon {
  color: var(--color-blue);
}

.fdsCheckbox-input:focus + .fdsCheckbox-label .fds-icon {
  border-radius: var(--border-radius-default);
  box-shadow: inset 0 0 0 3px var(--border-color-focusRing);
  transition: box-shadow 250ms var(--motion-easing-default);
}
