/* styleline-disable selector-max-specificity */
/* stylelint-disable selector-max-combinators */
/* stylelint-disable selector-max-compound-selectors */

/**
 * Radio-specific styles.
 * Most styling for this component is handled by `checkable.css`
 */

.fdsRadio input:focus + label svg {
  border-radius: 100%;
}

.fdsRadio input + label .fdsRadio-checkedIcon {
  display: none;
}

.fdsRadio input:checked + label .fdsRadio-checkedIcon {
  display: block;
}

.fdsRadio input + label .fdsRadio-uncheckedIcon {
  display: block;
}

.fdsRadio input:checked + label .fdsRadio-uncheckedIcon {
  display: none;
}
