.fdsTextInput {
  flex-grow: 1;
}

.fdsTextInput-root {
  display: flex;
  flex-direction: column;
  margin-bottom: 0;
}

.fdsTextInput-root--horizontal {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.fdsTextInput-root--horizontal .fdsTextInput-label {
  order: 1;
  margin-left: var(--space-half);
}

.fdsTextInput-label {
  margin-bottom: 4px;
}
