
@media (--viewport-xs) {
  .xs\:flex--row {
    flex-direction: row;
  }
  .xs\:flex--row.flex--reverse {
    flex-direction: row-reverse;
  }
  .xs\:flex--row > .flexItem {
    height: 100%;
    width: auto;
    padding: var(--flexItem-padding-row);
  }
  .xs\:flex--column {
    flex-direction: column;
  }
  .xs\:flex--column.flex--reverse {
    flex-direction: column-reverse;
  }
  .xs\:flex--column > .flexItem {
    width: 100%;
    height: auto;
    padding: var(--flexItem-padding-column);
  }
}

@media (--viewport-s) {
  .s\:flex--row {
    flex-direction: row;
  }
  .s\:flex--row.flex--reverse {
    flex-direction: row-reverse;
  }
  .s\:flex--row > .flexItem {
    height: 100%;
    width: auto;
    padding: var(--flexItem-padding-row);
  }
  .s\:flex--column {
    flex-direction: column;
  }
  .s\:flex--column.flex--reverse {
    flex-direction: column-reverse;
  }
  .s\:flex--column > .flexItem {
    width: 100%;
    height: auto;
    padding: var(--flexItem-padding-column);
  }
}

@media (--viewport-m) {
  .m\:flex--row {
    flex-direction: row;
  }
  .m\:flex--row.flex--reverse {
    flex-direction: row-reverse;
  }
  .m\:flex--row > .flexItem {
    height: 100%;
    width: auto;
    padding: var(--flexItem-padding-row);
  }
  .m\:flex--column {
    flex-direction: column;
  }
  .m\:flex--column.flex--reverse {
    flex-direction: column-reverse;
  }
  .m\:flex--column > .flexItem {
    width: 100%;
    height: auto;
    padding: var(--flexItem-padding-column);
  }
}

@media (--viewport-l) {
  .l\:flex--row {
    flex-direction: row;
  }
  .l\:flex--row.flex--reverse {
    flex-direction: row-reverse;
  }
  .l\:flex--row > .flexItem {
    height: 100%;
    width: auto;
    padding: var(--flexItem-padding-row);
  }
  .l\:flex--column {
    flex-direction: column;
  }
  .l\:flex--column.flex--reverse {
    flex-direction: column-reverse;
  }
  .l\:flex--column > .flexItem {
    width: 100%;
    height: auto;
    padding: var(--flexItem-padding-column);
  }
}

@media (--viewport-xl) {
  .xl\:flex--row {
    flex-direction: row;
  }
  .xl\:flex--row.flex--reverse {
    flex-direction: row-reverse;
  }
  .xl\:flex--row > .flexItem {
    height: 100%;
    width: auto;
    padding: var(--flexItem-padding-row);
  }
  .xl\:flex--column {
    flex-direction: column;
  }
  .xl\:flex--column.flex--reverse {
    flex-direction: column-reverse;
  }
  .xl\:flex--column > .flexItem {
    width: 100%;
    height: auto;
    padding: var(--flexItem-padding-column);
  }
}

