# global
* @akdetrick

# style dictionary
/src/fds-dictionary/ @akdetrick

# utility stylesheet
/src/base-styles/ @akdetrick

# component library
/src/components/ @akdetrick

# material ui theme
/src/mui-theme/ @akdetrick

# svg/react icon set
/src/icons/ @akdetrick
