html, body {
  background: var(--color-haze);
}

.stripe {
  padding: var(--space-double);
  border-bottom: 1px solid var(--color-timberwolf);
}

.stripe:last-child {
  border-bottom-width: 0;
}

.stripe--navy {
  background: var(--color-navy);
}

.stripe--white {
  background: var(--color-white);
}

.stripe-title,
.stripe-description {
  font-family: var(--font-family-mono);
  color: var(--color-aqua);
}


.stripe-title {
  font-size: var(--font-size-2xl);
}

.stripe-description {
  font-size: var(--font-size-default);
}

.specItem {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin: var(--space-double) 10vw;
  margin-bottom: 0;
  border-top: 1px solid var(--color-mint);
  padding-top: var(--space-default);
}

.specItem-info {
  text-align: right;
  min-width: 200px;
  flex-grow: 1;
}

.specItem-info code {
  display: block;
}



.example {
  padding: var(--space-half);
  margin: var(--space-default);
  border: 1px dotted var(--color-violet);
}

.example--tsCard {
  padding: 0;
  max-width: 300px;
  float: left;
}

.example--tsResult {
}
