/* Shadow 1.5dp */
.elevation--1 {
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
}

/* Shadow 4dp */
.elevation--2 {
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.1);
}

/* Shadow 8dp */
.elevation--3 {
  box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.1);
}

/* Shadow 12dp */
.elevation--4 {
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.1);
}

/* Shadow 16dp */
.elevation--5 {
  box-shadow: 0px 12px 24px 0px rgba(0, 0, 0, 0.1);
}
