/**
Important styles override material-ui inline styles.
*/

.menuButton {
  padding: 4px !important;
  color: var(--font-color-default) !important;
  text-transform: none !important;
  min-height: var(--media-l) !important;
  max-width: var(--media-m);
}

.menuButton--active {
  color: var(--font-color-dark) !important;
  font-weight: var(--font-weight-bold) !important;
}

.menuButton--disabled .menuButton-label {
  color: var(--font-color-disabled) !important;
}

.menuButton--disabled svg {
  fill: var(--font-color-disabled) !important;
}

.menuButton-inner {
  height: 100%;
}

.menuButton-label {
  line-height: 1.1 !important;
  margin-top: calc(var(--space-half) / 2);
}
