/**
 * Toast transition styles, set by `Toaster` via `CSSTransition`
 */

/* TODO: use standard easing vars */

:root {
  --toast-timeout: 350ms;
}

/* begin ENTER transition */
.toast-appear,
.toast-enter {
  opacity: 0.01;
  transform: translateY(-200px);
  transition: all var(--toast-timeout) ease-in;
}

/* end ENTER transition */
.toast-appear-active,
.toast-enter-active {
  opacity: 1;
  transform: translateY(0);
}

/* begin EXIT transition */
.toast-exit {
  opacity: 1;
  transform: translateY(0);
  transition: all var(--toast-timeout) ease-in;
}

/* end EXIT transition */
.toast-exit-active {
  opacity: 0.01; /* removed from DOM on duration complete */
  transform: translateY(-200px);
}
