/**
 * Classes to support CSSTransition
 * from `react-transition-group`.
 *
 * GrowFast transition.
 *
 * Scale up and fade in on appear.
 * Scale down and fade out on exit.
 *
 * @usage
 * <CSSTransition
 *   classNames="rtgGrowFast"
 *   timeout=<match CSS timeout property>
 *   ...
 * >
 */

:root {
  --rtgGrowFast-timeout: 200ms;
  --rtgGrowFast-easing: cubic-bezier(0.23, 1, 0.32, 1);
}

.rtgGrowFast-enter {
  opacity: 0.01;
  transform: scale(0.75);
}

.rtgGrowFast-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: transform var(--rtgGrowFast-timeout)
      var(--rtgGrowFast-easing),
    opacity var(--rtgGrowFast-timeout)
      var(--rtgGrowFast-easing);
}

/* BEGIN EXIT transition */
.rtgGrowFast-exit {
  opacity: 1;
  transform: scale(1);
  transition: transform var(--rtgGrowFast-timeout)
      var(--rtgGrowFast-easing),
    opacity var(--rtgGrowFast-timeout)
      var(--rtgGrowFast-easing);
}

/* END EXIT transition */
.rtgGrowFast-exit-active {
  opacity: 0.01;
  transform: scale(0.75);
}
