/* Foundational Styles (fds-styles) */
@import "fds-styles/lib/fds-styles";

/* Icon Styles (fds-icons) */
@import "fds-icons/lib/fds-icons";

/* Components */
@import "./layout/flex.css";
@import "./media/avatarRow.css";
@import "./media/circularCountdown.css";
@import "./interactive/menuButton.css";
@import "./interactive/toast.css";
@import "./interactive/toaster.css";

/* Overrides (remove when possible) */
img,
p {
  margin: 0;
  padding: 0;
}
