.align--left {
  text-align: left;
}
.align--center {
  text-align: center;
}
.align--right {
  text-align: right;
}

@media (--viewport-s) {
  .s\:align--left {
    text-align: left;
  }
  .s\:align--center {
    text-align: center;
  }
  .s\:align--right {
    text-align: right;
  }
}

@media (--viewport-m) {
  .m\:align--left {
    text-align: left;
  }
  .m\:align--center {
    text-align: center;
  }
  .m\:align--right {
    text-align: right;
  }
}

@media (--viewport-l) {
  .l\:align--left {
    text-align: left;
  }
  .l\:align--center {
    text-align: center;
  }
  .l\:align--right {
    text-align: right;
  }
}

@media (--viewport-xl) {
  .xl\:align--left {
    text-align: left;
  }
  .xl\:align--center {
    text-align: center;
  }
  .xl\:align--right {
    text-align: right;
  }
}
