/*---
title: Flush
name: spacingFlush
section: Spacing Helpers
---

Removes spacing from the given side of an element.
Sets both `padding` and `margin` to `0`;

class           | description
--------------- | ---------------------------------
`flush--top`    | Removes top spacing from element
`flush--right`  | Removes right spacing from element
`flush--bottom` | Removes bottom spacing from element
`flush--left`   | Removes left spacing from element
`flush--all`    | Removes spacing from all sides of an element
*/

.flush--top {
  margin-top: 0 !important;
  padding-top: 0 !important;
}

.flush--right {
  margin-right: 0 !important;
  padding-right: 0 !important;
}

.flush--bottom {
  margin-bottom: 0 !important;
  padding-bottom: 0 !important;
}

.flush--left {
  margin-bottom: 0 !important;
  padding-bottom: 0 !important;
}

.flush--all {
  margin-bottom: 0 !important;
  padding-bottom: 0 !important;
}

