/*---
title: Padding
name: spacingPadding
section: Spacing Helpers
---

Adds padding to the given side of an element.

#### Full padding

class            | description
---------------- | ---------------------------------
`padding--top`    | Adds standard padding to top of element
`padding--right`  | Adds standard padding to right of element
`padding--bottom` | Adds standard padding to bottom of element
`padding--left`   | Adds standard padding to left of element
`padding--all`    | Adds standard padding to all sides

#### Half padding

class                   | description
----------------------- | ---------------------------------
`padding--top--half`    | Adds half padding to top of element
`padding--right--half`  | Adds half padding to right of element
`padding--bottom--half` | Adds half padding to bottom of element
`padding--left--half`   | Adds half padding to left of element
`padding--all--half`    | Adds half padding to all sides
*/

.padding--top {
  padding-top: var(--space-default);
}

.padding--right {
  padding-right: var(--space-default);
}

.padding--bottom {
  padding-bottom: var(--space-default);
}

.padding--left {
  padding-left: var(--space-default);
}

.padding--all {
  padding: var(--space-default);
}

.padding--top--half {
  padding-top: var(--space-half);
}

.padding--right--half {
  padding-right: var(--space-half);
}

.padding--bottom--half {
  padding-bottom: var(--space-half);
}

.padding--left--half {
  padding-left: var(--space-half);
}

.padding--all--half {
  padding: var(--space-half);
}
