/*---
title: Background Colors
name: backgroundColors
section: Background helpers
---

Sets background color of an element.

Signature: `bgColor--<color>`

**💡 use the [`inverted`](https://cbinsights.github.io/form-design-system/fds-styles/#inverted-standard-text-colors)
class to flip text colors for dark backgrounds**

```example:html
<div class="bgColor--white">I have a background color</div>
<div class="bgColor--haze">I have a background color</div>
<div class="bgColor--lightGray">I have a background color</div>
<div class="bgColor--orange inverted">I have a background color</div>
<div class="bgColor--charcoal inverted">I have a background color</div>
<div class="bgColor--navy inverted">I have a background color</div>
<div class="bgColor--aqua">I have a background color</div>
<div class="bgColor--gray inverted">I have a background color</div>
<div class="bgColor--red inverted">I have a background color</div>
<div class="bgColor--purple inverted">I have a background color</div>
```
*/

.bgColor--white {
  background-color: var(--color-white);
}

.bgColor--charcoal {
  background-color: var(--color-charcoal);
}

.bgColor--haze {
  background-color: var(--color-haze);
}

.bgColor--lightGray {
  background-color: var(--color-lightGray);
}

.bgColor--navy {
  background-color: var(--color-navy);
}

.bgColor--orange {
  background-color: var(--color-orange);
}

.bgColor--aqua {
  background-color: var(--color-aqua);
}

.bgColor--gray {
  background-color: var(--color-gray);
}

.bgColor--red {
  background-color: var(--color-red);
}

.bgColor--purple {
  background-color: var(--color-purple);
}

.bgColor--blue {
  background-color: var(--color-blue);
}
