.bgColor--white {
  background-color: var(--color-white);
}

.bgColor--charcoal {
  background-color: var(--color-charcoal);
}

.bgColor--haze {
  background-color: var(--color-haze);
}

.bgColor--lightGray {
  background-color: var(--color-lightGray);
}

.bgColor--navy {
  background-color: var(--color-navy);
}

.bgColor--orange {
  background-color: var(--color-orange);
}

.bgColor--aqua {
  background-color: var(--color-aqua);
}

.bgColor--gray {
  background-color: var(--color-gray);
}

.bgColor--red {
  background-color: var(--color-red);
}

.bgColor--purple {
  background-color: var(--color-purple);
}

.bgColor--blue {
  background-color: var(--color-blue);
}

.bgColor--violet {
  background-color: var(--color-violet);
}
