/*---
title: Fade gradients
name: backgroundFade
section: Background helpers
---

Sets background of an element to a linear gradient
simulating a fade effect.

Signature: `bgFade--<direction>--<color>`

```example:html
<div style="float: left; background-color: #f7f7f7; background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHCAYAAADEUlfTAAAAHElEQVQYV2M8fPiwLwMOwAiStLW13YxNftBJAgAx2BqeI9XcBAAAAABJRU5ErkJggg==)">
  <div style="display: flex; align-items: center;">
    <code class="color--purple media--xl alignChild--center--center">white</code>
    <div class="media--xl bgFade--left--white"></div>
    <div class="media--xl bgFade--top--white"></div>
    <div class="media--xl bgFade--bottom--white"></div>
    <div class="media--xl bgFade--right--white"></div>
  </div>
  <div style="display: flex;">
    <code class="color--purple media--xl alignChild--center--center">haze</code>
    <div class="media--xl bgFade--left--haze"></div>
    <div class="media--xl bgFade--top--haze"></div>
    <div class="media--xl bgFade--bottom--haze"></div>
    <div class="media--xl bgFade--right--haze"></div>
  </div>
</div>
```
*/

/* white */
.bgFade--top--white {
  background-image: linear-gradient(to bottom, var(--color-white), rgba(var(--rgb-white), 0));
}

.bgFade--right--white {
  background-image: linear-gradient(to left, var(--color-white), rgba(var(--rgb-white), 0));
}

.bgFade--bottom--white {
  background-image: linear-gradient(to top, var(--color-white), rgba(var(--rgb-white), 0));
}

.bgFade--left--white {
  background-image: linear-gradient(to right, var(--color-white), rgba(var(--rgb-white), 0));
}

/* haze */
.bgFade--top--haze {
  background-image: linear-gradient(to bottom, var(--color-haze), rgba(var(--rgb-haze), 0));
}

.bgFade--right--haze {
  background-image: linear-gradient(to left, var(--color-haze), rgba(var(--rgb-haze), 0));
}

.bgFade--bottom--haze {
  background-image: linear-gradient(to top, var(--color-haze), rgba(var(--rgb-haze), 0));
}

.bgFade--left--haze {
  background-image: linear-gradient(to right, var(--color-haze), rgba(var(--rgb-haze), 0));
}

