/**
Document-level defaults
*/

html,
body {
  margin: 0;
  padding: 0;
  background-color: var(--color-white);
}

html {
  line-height: var(--font-lineHeight-default);
  font-family: var(--font-family-default);
  font-size: var(--font-size-default);
  color: var(--font-color-primary);
  text-rendering: geometricPrecision;
  overflow-y: scroll;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.inverted {
  color: var(--font-color-primaryInverted);
}
