/* stylelint-disable number-max-precision */
/* stylelint-disable selector-max-specificity */
/* stylelint-disable declaration-property-value-blacklist */

/**
Form tag defaults
*/

::placeholder {
  color: var(--font-color-hint);
}

label {
  display: block;
  margin-bottom: 4px;
  color: var(--font-color-heading);
}

button,
input,
select,
textarea {
  font-weight: normal;
  vertical-align: middle;
  font-size: var(--font-size-default);
  transition: box-shadow 250ms var(--motion-easing-default);
}

select,
textarea,
input:not([type]),
input[list],
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="date-time-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="year"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="file"] {
  box-sizing: border-box;
  display: inline-block;
  padding: 4px var(--space-half);
  border-radius: 4px;
  border: 1px solid var(--border-color-input);
  background: var(--color-white);
  min-width: var(--space-double);
  min-height: var(--space-double);
  color: var(--color-black);
}


/**
 * Cursors
 */
button,
label,
select,
input[type="color"],
input[type="reset"],
input[type="submit"],
input[type="radio"],
input[type="checkbox"] {
  cursor: pointer;
}

button[disabled],
select[disabled],
textarea[disabled],
input[disabled] {
  cursor: default;
}

/**
 * Specific input overrides
 */

select {
  appearance: menulist;
  -moz-appearance: menulist;
  -webkit-appearance: menulist;
  height: var(--space-double);
}

/* Safari Only */
@media not all and (min-resolution: 0.001dpcm) {
  @media {
    select {
      outline: initial;
    }
  }
}

option {
  min-height: var(--space-double);
}

textarea {
  vertical-align: top;
  padding: var(--space-half);
  min-height: calc(var(--space-double) * 2);
}

input[type="seach"] {
  box-sizing: content-box;
  -webkit-appearance: textfield;
}

input[type="file"] {
  font-size: var(--font-size-s);
  background: transparent;
  padding-top: 6px; /* offset smaller font size */
}

input[type="date"],
input[type="time"],
input[type="date-time-local"],
input[type="month"],
input[type="year"],
input[type="number"] {
  text-align: right;
}


/**
 * Invalid/disabled
 */
select:invalid,
textarea:invalid,
input:not([type="submit"]):invalid {
  border-color: var(--color-red);
}

select:disabled,
textarea:disabled,
input:not([type="submit"]):disabled {
  color: var(--font-color-hint);
  background-color: var(--color-lightGray);
}

input[type="checkbox"]:disabled,
input[type="radio"]:disabled {
  background: var(--color-lightGray);
}

/**
 * Focus states
 */
/* stylelint-disable-next-line selector-max-specific */
input:not([type="checkbox"]):not([type="radio"]):not([type="range"]):focus,
select:focus,
textarea:focus {
  outline: none;
  border-color: var(--color-aqua);
  box-shadow: 0 0 0 2px var(--border-color-focusRing);
}

/* stylelint-disable selector-max-specific */
:invalid:not([type="checkbox"]):not([type="radio"]):not([type="range"]):focus,
.error:not([type="checkbox"]):not([type="radio"]):not([type="range"]):focus {
  border-color: var(--color-red);
  box-shadow: 0 0 0 2px var(--color-red);
}
/* stylelint-enable */

