:root {
  --button-group-timeout: 250ms;
  --button-group-hover-color: #DEE5EB;
  --button-group-pressed-color: #C2CEDA;
  --button-group-active-color: #DBE2E9;
  --button-group-disabled-border-color: #DBE2E9;
  --border-radius-default: 4px;
}

.btngroup {
  display: inline-flex;
  z-index: var(--zindex-main);
  position: relative;
}

.btngroup .groupbtn {
  margin-left: -1px;
  position: relative;
  border-radius: 0;
  z-index: calc(var(--zindex-main) + 1);
}

/* z-index is used here to manage the border for those button
states and their stacking order (whether they display or not).
The border for a disabled button should appear below a border
for a button being clicked on (:active) */
.btngroup .groupbtn--disabled {
  z-index: var(--zindex-main);
}

.btngroup .groupbtn--active {
  z-index: calc(var(--zindex-main) + 2);
}

.btngroup .groupbtn:focus {
  z-index: calc(var(--zindex-main) + 3);
}

.btngroup .groupbtn:active {
  z-index: calc(var(--zindex-main) + 4);
}

.btngroup .groupbtn--first {
  border-top-left-radius: var(--border-radius-default);
  border-bottom-left-radius: var(--border-radius-default);
  margin-left: 0;
}

.btngroup .groupbtn--last {
  border-top-right-radius: var(--border-radius-default);
  border-bottom-right-radius: var(--border-radius-default);
}

.groupbtn {
  border: 1px solid var(--color-silver);
  border-radius: var(--border-radius-default);
  padding: 0 12px;
  font-size: 12px;
  color: var(--color-slate);
  font-weight: var(--font-weight-bold);
  text-transform: none;
  line-height: normal;
  display: inline-flex;
  align-items: center;
  user-select: none;
  min-height: auto;
  transition: background-color var(--button-group-timeout) var(--motion-easing-default),
    box-shadow var(--button-group-timeout) var(--motion-easing-default),
    border var(--button-group-timeout) var(--motion-easing-default),
    z-index var(--button-group-timeout) var(--motion-easing-default);
  margin-bottom: 0;
  background-color: transparent;
}

.groupbtn-label {
  padding: 8px 0;
}

.groupbtn:focus,
.groupbtn:active {
  border-color: var(--color-slate);
  text-decoration: none;
}

.groupbtn:focus {
  background-color: none;
  /* this box-shadow acts as outline that conforms
  to border-radius, unlike outline  */
  box-shadow: 0 0 0 2px var(--button-focus);
  outline: 0;
  color: var(--color-charcoal);
}

.groupbtn:hover {
  text-decoration: none;
  background-color: var(--button-group-hover-color);
}

/* Pressed */
.groupbtn:active {
  background-color: var(--button-group-pressed-color);
  border-color: var(--color-slate);
  color: var(--color-charcoal);
}

/* Activated */
.groupbtn--active {
  text-decoration: none;
  background-color: var(--button-group-active-color);
  border-color: var(--color-slate);
  color: var(--color-charcoal);
}

.groupbtn--disabled {
  color: var(--color-silver);
  border-color: var(--button-group-disabled-border-color);
  cursor: default;
  pointer-events: none;
}

.groupbtn-icon {
  margin-right: calc(var(--space-half) / 2);
}
