.fdsButton {
  --button-blue: 0, 102, 153;
  --button-red: 229, 50, 62;
  border: 0 none;
  letter-spacing: 1px;
  position: relative;
  line-height: normal;
  transition: background-color var(--button-group-timeout) var(--motion-easing-default),
    box-shadow var(--button-group-timeout) var(--motion-easing-default),;
}

.fdsButton--block {
  width: 100%;
}

.fdsButton--loading,
.fdsButton--disabled {
  opacity: 0.6;
  pointer-events: none;
}

/*
   Spinner technique is from the following:
   https://stephanwagner.me/only-css-loading-spinner
   https://codepen.io/stuartjnelson/pen/zjveOO
*/
@keyframes spinner {
  0% {
    transform: translate3d(-50%, -50%, 0) rotate(0deg);
  }

  100% {
    transform: translate3d(-50%, -50%, 0) rotate(360deg);
  }
}

.fdsButton--loading::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 2px solid var(--color-white);
  border-top-color: transparent;
  animation: spinner 600ms linear infinite;
  transform: translate3d(-50%, -50%, 0);
  will-change: transform;
}

.fdsButton--hidden {
  visibility: hidden;
}

.fdsButton:focus {
  outline: 0;
  z-index: 1;
  box-shadow: 0 0 0 2px #B7D7E5;
}

.fdsButton--contained-blue {
  color: var(--color-white);
  background: rgba(var(--button-blue), 1);
}

.fdsButton--contained-blue:hover {
  background: rgba(var(--button-blue), 0.8);
}

.fdsButton--contained-red {
  color: var(--color-white);
  background: rgba(var(--button-red), 1);
}

.fdsButton--contained-red:hover {
  background: rgba(var(--button-red), 0.8);
}

/* We're only using uppercase so we can shift the icon assuming there will not be any descenders */
.fdsButton-icon {
  margin-top: -3px;
  margin-bottom: -2px;
}

.fdsButton-icon--left {
  order: -1;
}