/* stylelint-disable selector-max-combinators */
/* stylelint-disable selector-max-compound-selectors */

.fdsButton {
  border: 0 none;
  letter-spacing: 1px;
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-default);
  position: relative;
  line-height: normal;
  user-select: none;
  /* We do this to make sure buttons with borders and without are the same dimensions */
  border: 1px solid transparent;
  background-color: transparent;
  min-height: auto;
  box-sizing: border-box;
}

/* Button padding */
/* we remove 1px off each side as there's a border we need to compensate for */
/* we apply vertical padding on the label only, so that the bigger icon
    doesn't change the button dimensions */
.fdsButton--m { padding: 0 15px; }

.fdsButton--m .fdsButton-label { padding: 7px 0; }

.fdsButton--s { padding: 0 6px; }

.fdsButton--s .fdsButton-label { padding: 3px 0; }

.fdsButton--isFullWidth {
  width: 100%;
}

.fdsButton--loading,
.fdsButton--disabled {
  opacity: var(--button-opacity);
  pointer-events: none;
}

/*
  Spinner technique is from the following:
  https://stephanwagner.me/only-css-loading-spinner
  https://codepen.io/stuartjnelson/pen/zjveOO
*/
@keyframes spinner {
  0% {
    transform: translate3d(-50%, -50%, 0) rotate(0deg);
  }

  100% {
    transform: translate3d(-50%, -50%, 0) rotate(360deg);
  }
}

.fdsButton--loading::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 2px solid var(--color-white);
  border-top-color: transparent;
  animation: spinner 600ms linear infinite;
  transform: translate3d(-50%, -50%, 0);
  will-change: transform;
}

.fdsButton--hidden {
  visibility: hidden;
}

.fdsButton--blue {
  color: var(--color-white);
  background-color: #1C6695;
}

.fdsButton--blue:hover {
  background-color: #29719D;
}

.fdsButton--blue:active {
  background-color: #5C96B6;
}

.fdsButton--blue.fdsButton--isDestructive {
  background-color: var(--button-destructive);
}

.fdsButton--blue.fdsButton--isDestructive:hover {
  background-color: var(--button-destructive-hover);
}

.fdsButton--blue.fdsButton--isDestructive:active {
  background-color: var(--button-destructive-pressed);
}

.fdsButton--outlined {
  border: 1px solid var(--button-outlined-border);
  background-color: white;
  color: var(--font-color-primary);
}

.fdsButton--ghost {
  /* this isn't needed, just writing out for clarity */
  color: var(--button-primary-color);
}

.fdsButton--outlined:hover {
  background-color: #F2F2F2;
}

.fdsButton--ghost:hover {
  background-color: var(--button-secondary-hover);
  color: var(--button-secondary-hover-color);
}

.fdsButton--outlined:active {
  background-color: #E0E0E0;
}

.fdsButton--ghost:active {
  background-color: var(--button-secondary-pressed);
  color: var(--button-secondary-pressed-color);
}

.fdsButton--outlined.fdsButton--isDestructive:hover,
.fdsButton--ghost.fdsButton--isDestructive:hover {
  background-color: var(--button-secondary-destructive-hover);
}

.fdsButton--outlined.fdsButton--isDestructive:active,
.fdsButton--ghost.fdsButton--isDestructive:active {
  background-color: var(--button-secondary-destructive-pressed);
}


.fdsButton--ghost.fdsButton--loading {
  border: 1px solid var(--button-outlined-border);
}

.fdsButton--loading:matches(.fdsButton--ghost, .fdsButton--outlined)::before {
  border: 2px solid #5DABCB;
  border-top-color: transparent;
}

.fdsButton--loading:matches(.fdsButton--outlined, .fdsButton--ghost) {
  opacity: 1;
}

.inverted .fdsButton--ghost {
  color: var(--color-white);
  background: transparent;
}

.inverted .fdsButton--ghost:hover {
  background-color: rgba(255, 255, 255, 0.08);
}

.inverted .fdsButton--ghost:active {
  background-color: rgba(255, 255, 255, 0.16);
}

/* stylelint-disable-next-line selector-max-class */
.inverted .fdsButton--ghost.fdsButton--loading::before {
  border: 2px solid var(--color-white);
  border-top-color: transparent;
}

.fdsButton--outlined.fdsButton--isDestructive {
  border-color: var(--button-destructive);
}

.fdsButton--isDestructive:matches(.fdsButton--outlined, .fdsButton--ghost) {
  color: var(--button-secondary-destructive);
}

/* There's a very very unique design requirement here that requires
   the following override. We only want the following design when all 3
   of these cases are true */
/* stylelint-disable-next-line selector-max-class  */
.fdsButton--ghost.fdsButton--loading.fdsButton--isDestructive {
  border-color: var(--button-destructive);
}

.fdsButton--isDestructive:matches(.fdsButton--outlined, .fdsButton--ghost)::before {
  border: 2px solid var(--button-destructive);
  border-top-color: transparent;
}

.fdsButton--m .fdsButton-icon--left {
  margin-right: var(--space-half);
}

.fdsButton--m .fdsButton-icon--right {
  margin-left: var(--space-half);
}

.fdsButton--s .fdsButton-icon--left {
  margin-right: 6px;
}

.fdsButton--s .fdsButton-icon--right {
  margin-left: 6px;
}

.fdsButton-icon--left {
  order: -1;
}
