.fdsButton {
  --button-blue: #1C6695;
  --button-blue-hover: #29719D;
  --button-blue-pressed: #5C96B6;

  --button-red: #DA4544;
  --button-red-hover: #DC5151;
  --button-red-pressed: #E37B7E;

  /*
    calling the colors that outline and
    ghost share by the name "secondary"
  */

  --button-secondary-hover: #E8EDF1;
  --button-secondary-pressed: #CBD5DE;
  --button-secondary-color: #868888;
  --button-secondary-hover-color: #565656;
  --button-secondary-pressed-color: #525355;

  /* ---------------- */

  --button-outlined-border: #C6C9CA;
  --button-outlined-border-hover: #BFC3C7;
  --button-outlined-border-pressed: #9EA5AA;
  border: 0 none;
  letter-spacing: 1px;
  position: relative;
  line-height: normal;
  user-select: none;
  border: 1px solid transparent;
  background-clip: padding-box;
  transition: background-color var(--button-group-timeout) var(--motion-easing-default),
    box-shadow var(--button-group-timeout) var(--motion-easing-default),;
}

.fdsButton--block {
  width: 100%;
}

.fdsButton--loading,
.fdsButton--disabled {
  opacity: 0.6;
  pointer-events: none;
}

/*
   Spinner technique is from the following:
   https://stephanwagner.me/only-css-loading-spinner
   https://codepen.io/stuartjnelson/pen/zjveOO
*/
@keyframes spinner {
  0% {
    transform: translate3d(-50%, -50%, 0) rotate(0deg);
  }

  100% {
    transform: translate3d(-50%, -50%, 0) rotate(360deg);
  }
}

.fdsButton--loading::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 2px solid var(--color-white);
  border-top-color: transparent;
  animation: spinner 600ms linear infinite;
  transform: translate3d(-50%, -50%, 0);
  will-change: transform;
}

.fdsButton--hidden {
  visibility: hidden;
}

.fdsButton:focus {
  outline: 0;
  box-shadow: 0 0 0 2px #B7D7E5;
}

.fdsButton--contained-blue {
  color: var(--color-white);
  background-color: var(--button-blue);
}

.fdsButton--contained-blue:hover {
  background-color: var(--button-blue-hover);
}

.fdsButton--contained-blue:active {
  background-color: var(--button-blue-pressed);
}

.fdsButton--contained-red {
  color: var(--color-white);
  background-color: var(--button-red);
}

.fdsButton--contained-red:hover {
  background-color: var(--button-red-hover);
}

.fdsButton--contained-red:active {
  background-color: var(--button-red-pressed);
}

.fdsButton--outlined {
  border: 1px solid var(--button-outlined-border);
}

.fdsButton--ghost,
 .fdsButton--outlined {
  /* this isn't needed, just writing out for clarity */
  color: var(--button-secondary-color);
}

.fdsButton--outlined:hover,
 .fdsButton--ghost:hover {
  background-color: var(--button-secondary-hover);
  color: var(--button-secondary-hover-color);
}

.fdsButton--outlined:active,
 .fdsButton--ghost:active {
  background-color: var(--button-secondary-pressed);
  color: var(--button-secondary-pressed-color);
}

/* We're only using uppercase so we can shift the icon assuming there will not be any descenders */
.fdsButton-icon {
  margin-top: -4px;
  margin-bottom: -2px;
}

.fdsButton-icon--left {
  order: -1;
}