.dialog-overlay {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  /* leaving the zero addition here for now */
  z-index: calc(var(--zindex-modal) + 0);
  background: black;
  opacity: 0.3;
}

.dialog-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--space-default);
}

.dialog {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  background-color: white;
  border-radius: 4px;
  z-index: calc(var(--zindex-modal) + 1);
  max-width: 500px;
  width: 100%;
  display: flex;
  flex-direction: column;
  max-height: 80vh;
}

.dialog-content {
  padding: var(--space-default);
  overflow-y: auto;
}

.dialog-icon {
  cursor: pointer;
}

.dialog-title {
  font-family: var(--font-family-condensed);
}

.dialog-footer {
  background-color: var(--color-lightGray);
  padding: var(--space-default);
  border-top: 1px solid #E8E8E8;
}

.dialog-divider {
  height: 1px;
  border: 0;
  margin: 0;
  padding: 0;
  padding: 0;
  display: block;
  background-color: #E8E8E8;
  zoom: 1;
}
