:root {
  --modal-border-color: #E8E8E8;
}

.dialog-enter {
  opacity: 0;
}

.dialog-enter-active {
  opacity: 1;
  transition: opacity 200ms;
}

.dialog-exit {
  opacity: 1;
}

.dialog-exit-active {
  opacity: 0;
  transition: opacity 200ms;
}

.dialog-overlay {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  /* leaving the zero addition here for now */
  z-index: calc(var(--zindex-modal) + 0);
  background: var(--color-charcoal);
  opacity: 0.3;
}

.dialog-header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 24px;
}

.dialog {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  background-color: var(--color-white);
  border-radius: var(--border-radius-default);
  z-index: calc(var(--zindex-modal) + 1);
  max-width: 500px;
  width: 100%;
  display: flex;
  flex-direction: column;
  max-height: 80vh;
  box-sizing: border-box;
}

.dialog-content {
  padding: 24px;
  overflow-y: auto;
}

.dialog-icon {
  cursor: pointer;
  border: 0 none;
  min-height: auto;
}

.dialog-title {
  font-family: var(--font-family-condensed);
}

.dialog-footer {
  background-color: var(--color-lightGray);
  padding: 24px;
  border-top: 1px solid var(--modal-border-color);
}

.dialog-divider {
  height: 1px;
  min-height: 1px;
  border: 0;
  margin: 0;
  padding: 0;
  padding: 0;
  display: block;
  background-color: var(--modal-border-color);
  zoom: 1;
}
