.fdsIconButton--hidden {
  visibility: hidden;
}

.fdsIconButton {
  border: 0 none;
  font-size: var(--font-size-xs);
  position: relative;
  line-height: normal;
  user-select: none;
  display: flex;
  flex-direction: column;
  background-color: transparent;
  transition: background-color var(--button-timeout) var(--motion-easing-default),
    box-shadow var(--button-timeout) var(--motion-easing-default);
  box-sizing: border-box;
  min-height: auto;
}

.fdsIconButton--s {
  padding: 4px;
}

.fdsIconButton--m {
  padding: 7px;
}


.fdsIconButton--circle {
  border-radius: 50%;
}

.fdsIconButton--disabled {
  opacity: var(--button-opacity);
  pointer-events: none;
}


.fdsIconButton:focus {
  outline: 0;
  box-shadow: 0 0 0 2px var(--button-focus);
}

.fdsIconButton--aqua {
  background-color: var(--color-aqua);
  color: var(--color-white);
}

.fdsIconButton--purple {
  background-color: var(--color-purple);
  color: var(--color-white);
}

.fdsIconButton--purple:hover,
.fdsIconButton--aqua:hover {
  opacity: 0.9;
}

.fdsIconButton--purple:active,
.fdsIconButton--aqua:active {
  opacity: 0.8;
}

.fdsIconButton--ghost {
  color: var(--button-secondary-color);
}

.fdsIconButton--ghost:hover {
  background-color: var(--button-secondary-hover);
  color: var(--button-secondary-hover-color);
}

.fdsIconButton--ghost:active {
  background-color: var(--button-secondary-pressed);
  color: var(--button-secondary-pressed-color);
}


.fdsIconButton--active {
  background-color: var(--color-aqua);
  color: var(--color-white);
}

.fdsIconButton--isDestructive {
  color: var(--button-secondary-destructive);
  background-color: transparent;
}

.fdsIconButton--isDestructive:hover {
  color: var(--button-secondary-destructive);
  background-color: var(--button-secondary-destructive-hover);
}

.fdsIconButton--isDestructive:active {
  color: var(--button-secondary-destructive);
  background-color: var(--button-secondary-destructive-pressed);
}

.fdsIconButton--loading {
  background-color: transparent;
  pointer-events: none;
}

/*
   Spinner technique is from the following:
   https://stephanwagner.me/only-css-loading-spinner
   https://codepen.io/stuartjnelson/pen/zjveOO
*/
@keyframes spinner {
  0% {
    transform: translate3d(-50%, -50%, 0) rotate(0deg);
  }

  100% {
    transform: translate3d(-50%, -50%, 0) rotate(360deg);
  }
}

.fdsIconButton--loading::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 2px solid var(--color-aqua);
  border-top-color: transparent;
  animation: spinner 600ms linear infinite;
  transform: translate3d(-50%, -50%, 0);
  will-change: transform;
}


.fdsIconButton--loading.fdsIconButton--isDestructive::before {
  border-color: var(--button-secondary-destructive);
  border-top-color: transparent;
}
