.fdsMenu {
  max-height: 200px;
  overflow-y: auto;
  min-width: 150px;
  max-width: 400px;
  margin: 0;
  border-top: 0;
  background: white;
  position: absolute;
  z-index: var(--zindex-popover);
}

.fdsMenu-item {
  padding: 8px 16px;
  color: #333;
  cursor: pointer;
}

.fdsMenu-item--active {
  background-color: #bde4ff;
}
