.menuButton {
  padding: 4px;
  color: var(--font-color-primary);
  text-transform: none;
  min-height: var(--media-l);
  min-width: var(--media-l);
  max-width: var(--media-xl);
}

.menuButton--active {
  color: var(--font-color-heading) !important;
  font-weight: var(--font-weight-bold) !important;
}

.menuButton--disabled .menuButton-label {
  color: var(--font-color-hint) !important;
}

.menuButton--disabled svg {
  fill: var(--font-color-hint);
}

.menuButton-inner {
  height: 100%;
}

.menuButton-label {
  line-height: 1.1 !important;
  margin-top: calc(var(--space-half) / 2);
  width: 99.9%; /* Force IE11 to wrap labels */
}
