.fdsMuiButton {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  border-width: 0;
  padding: calc(var(--space-half) / 2) var(--space-half) !important;
  border-radius: var(--border-radius-default);
  cursor: pointer;
  color: var(--font-color-secondary);
  fill: var(--font-color-secondary);
  font-weight: var(--font-weight-medium);
  text-transform: uppercase;
  margin: 0;
}

.fdsMuiButton--round {
  border-radius: 100%;
}

.fdsMuiButton--disabled {
  cursor: initial;
}

.fdsMuiButton:hover {
  background: rgba(0, 0, 0, 0.08); /* match material-ui */
}

.fdsMuiButton:active {
  background: rgba(0, 0, 0, 0.18); /* match material-ui */
}

.fdsMuiButton--disabled:hover,
.fdsMuiButton--disabled:active {
  background: transparent;
}
