.fdsStackedButton {
  border: 0 none;
  font-size: var(--font-size-xs);
  position: relative;
  line-height: normal;
  user-select: none;
  display: inline-flex;
  text-align: center;
  vertical-align: top;
  flex-direction: column;
  padding: 5px 16px 9px;
  background-color: transparent;
  transition: background-color var(--button-timeout) var(--motion-easing-default),
    box-shadow var(--button-timeout) var(--motion-easing-default);
  min-height: 64px;
  width: 64px;
  box-sizing: border-box;
  align-items: center;
  color: var(--button-secondary-color);
}

.fdsStackedButton--disabled {
  opacity: var(--button-opacity);
  pointer-events: none;
}

.fdsStackedButton--active {
  background-color: var(--color-aqua);
  color: var(--color-white);
}

.fdsStackedButton:hover {
  background-color: var(--button-secondary-hover);
  color: var(--button-secondary-hover-color);
}

.fdsStackedButton:active {
  background-color: var(--button-secondary-pressed);
  color: var(--button-secondary-pressed-color);
}

.fdsStackedButton-iconWrapper {
  min-height: 28px;
  display: inline-flex;
  align-items: center;
}