.fdsStackedButton {
  border: 0 none;
  font-size: var(--font-size-xs);
  position: relative;
  line-height: normal;
  user-select: none;
  display: inline-flex;
  text-align: center;
  vertical-align: top;
  flex-direction: column;
  padding: 5px var(--space-half) 9px;
  background-color: transparent;
  font-weight: 500;
  max-width: 62px;
  box-sizing: border-box;
  align-items: center;
  color: var(--button-primary-color);
}

.fdsStackedButton:focus {
  z-index: 2;
}

.fdsStackedButton--disabled {
  opacity: var(--button-opacity);
  pointer-events: none;
}

.fdsStackedButton--isActive {
  background-color: var(--color-aqua);
  color: var(--color-white);
}

.fdsStackedButton:hover {
  background-color: rgba(64, 64, 64, 0.08);
  color: var(--button-primary-color);
}

.fdsStackedButton:active {
  background-color: rgba(64, 64, 64, 0.24);
}

.fdsStackedButton-iconWrapper {
  min-height: 28px;
  display: inline-flex;
  align-items: center;
}