:root {
  --button-outlined-border: #C6C9CA;
  --button-outlined-border-hover: #BFC3C7;
  --button-outlined-border-pressed: #9EA5AA;

  /*
    calling the colors that outline and
    ghost share by the name "secondary"
  */
  --button-secondary-hover: #E8EDF1;
  --button-secondary-pressed: #CBD5DE;
  --button-secondary-color: #868888;
  --button-secondary-hover-color: #565656;
  --button-secondary-pressed-color: #525355;

  /*
   * custom properties must be file-local thanks to our IE11
   * pollyfill. This timeout is copied from buttonGroup.css
   */
  --button-timeout: 250ms;
}

.fdsStackedButton {
  border: 0 none;
  font-size: var(--font-size-xs);
  position: relative;
  line-height: normal;
  user-select: none;
  display: flex;
  flex-direction: column;
  padding: 6px 16px;
  background-color: transparent;
  transition: background-color var(--button-timeout) var(--motion-easing-default),
    box-shadow var(--button-timeout) var(--motion-easing-default);
  min-height: 58px;
  width: 60px;
  box-sizing: border-box;
  align-items: center;
  color: var(--button-secondary-color);
}

.fdsStackedButton--disabled {
  opacity: 0.6;
  pointer-events: none;
}

.fdsStackedButton--active {
  background-color: var(--color-aqua);
  color: var(--color-white);
}

.fdsStackedButton:focus {
  outline: 0;
  box-shadow: 0 0 0 2px #B7D7E5;
}

.fdsStackedButton:hover {
  background-color: var(--button-secondary-hover);
  color: var(--button-secondary-hover-color);
}

.fdsStackedButton:active {
  background-color: var(--button-secondary-pressed);
  color: var(--button-secondary-pressed-color);
}

.fdsStackedButton-icon {
  min-height: 24px;
}