/**
 * Toast transition styles, set by `Toaster` via `CSSTransition`
 */

:root {
  --toast-timeout: 380ms;
}

body {
  /* ensure any page running toast uses document body as positioning reference */
  position: relative;
}

.toast-constrainGrowth {
  display: flex;
  align-items: center;
  min-height: 40px;
}

.toaster {
  position: fixed;
  bottom: var(--space-double);
  left: var(--space-double);
  z-index: var(--zindex-modal);
}

/* begin ENTER transition */
.toast-appear,
.toast-enter {
  opacity: 0.01;
  transform: translateY(100px);
  transition: transform var(--toast-timeout) var(--motion-easing-default),
    opacity var(--toast-timeout) var(--motion-easing-default);
}

/* end ENTER transition */
.toast-appear-active,
.toast-enter-active {
  opacity: 1;
  transform: translateY(0);
}

/* begin EXIT transition */
.toast-exit {
  opacity: 1;
  transform: translateY(0);
  transition: transform var(--toast-timeout) var(--motion-easing-default),
    opacity var(--toast-timeout) var(--motion-easing-default);
}

/* end EXIT transition */
.toast-exit-active {
  opacity: 0.01; /* removed from DOM on duration complete */
  transform: translateY(100px);
}

/* Targeting a nested item isn't ideal, but material may block us from targeting this directly */
.toast-action span {
  line-height: 1;
}
