/*----
title: Color Modifiers
name: typeColorModifiers
section: Type Modifiers
----
Modifies color of text.

### Standard text colors
```example:html
<p class="typemod--dark">Dark Text</p>
<p>Default body text</p>
<p class="typemod--light">Light Text</p>
```

### Fancy text colors
If you don't see the color you need here, please notify UI Platform.
_Examples set in heading level 4_
```example:html
<p class="typeset--head4 typemod--slate">Slate text (default body color)</p>
<p class="typeset--head4 typemod--green">Green text</p>
<p class="typeset--head4 typemod--mint">Mint text</p>
<p class="typeset--head4 typemod--navy">Navy text</p>
<p class="typeset--head4 typemod--blue">Blue text</p>
<p class="typeset--head4 typemod--sky">Sky text</p>
<p class="typeset--head4 typemod--purple">Purple text</p>
<p class="typeset--head4 typemod--red">Red text</p>
<p class="typeset--head4 typemod--orange">Orange text</p>
```
*/
.typemod--dark {
  color: var(--font-color-dark) !important;
}

.typemod--light {
  color: var(--font-color-light) !important;
}

.typemod--slate {
  color: var(--color-slate) !important;
}

.typemod--green {
  color: var(--color-green) !important;
}

.typemod--mint {
  color: var(--color-mint) !important;
}

.typemod--navy {
  color: var(--color-navy) !important;
}

.typemod--blue {
  color: var(--color-blue) !important;
}

.typemod--sky {
  color: var(--color-sky) !important;
}

.typemod--purple {
  color: var(--color-purple) !important;
}

.typemod--red {
  color: var(--color-red) !important;
}

.typemod--orange {
  color: var(--color-orange) !important;
}

