/*----
title: Size Modifiers
name: typeSizeModifiers
section: Type Modifiers
----
Modifies size of text and adjusts leading accordingly.

```example:html
<p class="typemod--huge">Huge text</p>
<p class="typemod--xxlarge">XXL text</p>
<p class="typemod--xlarge">XL text</p>
<p class="typemod--large">Large text</p>
<p>Default body text</p>
<p class="typemod--small">Small text</p>
<p class="typemod--tiny">Tiny text</p>
```
*/
.typemod--huge {
  font-size: var(--font-size-heading1) !important;
  line-height: var(--font-lineHeight-bigText) !important;
}

.typemod--xxlarge {
  font-size: var(--font-size-heading2) !important;
  line-height: var(--font-lineHeight-bigText) !important;
}

.typemod--xlarge {
  font-size: var(--font-size-heading3) !important;
  line-height: var(--font-lineHeight-bigText) !important;
}

.typemod--large {
  font-size: var(--font-size-big) !important;
}

.typemod--small {
  font-size: var(--font-size-small) !important;
  line-height: var(--font-lineHeight-smallText) !important;
}

.typemod--tiny {
  font-size: var(--font-size-tiny) !important;
  line-height: var(--font-lineHeight-smallText) !important;
}
