.fdsAvatar {
  font-size: var(--font-size-xs);
  user-select: none;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  position: relative;
  font-weight: var(--font-weight-bold);
  border: 0 none;
  line-height: normal;
}

.fdsAvatar-img {
  position: absolute;
  top: -1;
  left: -1;
  right: -1;
  bottom: -1;
  background-size: cover;
}

.fdsAvatar--l {
  font-size: var(--font-size-xl);
  font-family: var(--font-family-condensed);
  width: 56px;
  height: 56px;
}

.fdsAvatar--m {
  font-size: var(--font-size-m);
  font-family: var(--font-family-condensed);
  width: 32px;
  height: 32px;
}

.fdsAvatar--s {
  font-size: var(--font-size-s);
  width: 24px;
  height: 24px;
}

.fdsAvatar--square,
.fdsAvatar--square .fdsAvatar-img {
  border-radius: var(--border-radius-default);
}

.fdsAvatar--circle,
.fdsAvatar--circle .fdsAvatar-img {
  border-radius: 50%;
}
