.fds-badgeWrapper {
  width: 100%;
  height: 100%;
}

.fds-badge {
  border-radius: var(--space-l);
  height: var(--space-default);
  border: 1px solid;
}

/* specificity fix for border utility class */

/* follow up with: UIP-994 */
.fds-badge.border--none {
  border-width: 0;
}

.fds-badge--dot {
  padding: 0;
  height: 11px;
  width: 11px;
}

.fds-badge-label {
  max-width: var(--media-xl);
}
