button.fdsButton {
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-default);
  line-height: normal;
  user-select: none;

  /* We do this to make sure buttons with borders and without are the same dimensions */
  border: 1px solid transparent;
  background-color: transparent;
  min-height: auto;
  box-sizing: border-box;
}

/* Button padding */

/* we remove 1px off each side as there's a border we need to compensate for */

/* we apply vertical padding on the label only, so that the bigger icon
    doesn't change the button dimensions */
.fdsButton--m {
  padding: 0 15px;
}

.fdsButton--m .fdsButton-label {
  padding: 7px 0;
}

.fdsButton--s {
  padding: 0 6px;
}

.fdsButton--s .fdsButton-label {
  padding: 3px 0;
}

.fdsButton--isFullWidth {
  width: 100%;
}

.fdsButton--loading,
.fdsButton--disabled {
  opacity: var(--button-opacity);
  pointer-events: none;
}

/*
  Spinner technique is from the following:
  https://stephanwagner.me/only-css-loading-spinner
  https://codepen.io/stuartjnelson/pen/zjveOO
*/
@keyframes spinner {
  0% {
    transform: translate3d(-50%, -50%, 0) rotate(0deg);
  }

  100% {
    transform: translate3d(-50%, -50%, 0) rotate(360deg);
  }
}

.fdsButton--loading-spinnerWrapper {
  position: relative;
}

.fdsButton--loading-spinner::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 2px solid var(--color-white);
  border-top-color: transparent;
  animation: spinner 600ms linear infinite;
  transform: translate3d(-50%, -50%, 0);
  will-change: transform;
}

.fdsButton--hidden {
  visibility: hidden;
}

button.fdsButton--blue {
  color: var(--color-white);
  background-color: var(--color-blue);
}

button.fdsButton--blue.fdsButton--isActive {
  background-color: #5297b9;
}

button.fdsButton--blue:hover {
  background-color: #1472a1;
}

button.fdsButton--blue:active {
  background-color: #5297b9;
}

button.fdsButton--blue.fdsButton--isActive:focus {
  background-color: #5297b9;
}

button.fdsButton--blue.fdsButton--isDestructive {
  background-color: var(--color-red);
}

button.fdsButton--blue.fdsButton--isDestructive.fdsButton--isActive {
  background-color: #ed737c;
}

button.fdsButton--blue.fdsButton--isDestructive:hover {
  background-color: #e7424d;
}

button.fdsButton--blue.fdsButton--isDestructive:active {
  background-color: #ed737c;
}

button.fdsButton--blue.fdsButton--isDestructive.fdsButton--isActive:focus {
  background-color: #ed737c;
}

button.fdsButton--orange {
  color: var(--color-white);
  background-color: var(--color-orange);
}

button.fdsButton--orange.fdsButton--isActive {
  background-color: var(--color-orange);
}

button.fdsButton--orange:hover {
  background-color: #ff7243;
}

button.fdsButton--orange:active {
  background-color: #ff9774;
}

button.fdsButton--orange.fdsButton--isActive:focus {
  background-color: #ff9774;
}

button.fdsButton--orange.fdsButton--isDestructive {
  background-color: var(--color-red);
}

button.fdsButton--orange.fdsButton--isDestructive.fdsButton--isActive {
  background-color: #ed737c;
}

button.fdsButton--orange.fdsButton--isDestructive:hover {
  background-color: #e7424d;
}

button.fdsButton--orange.fdsButton--isDestructive:active {
  background-color: #ed737c;
}

button.fdsButton--orange.fdsButton--isDestructive.fdsButton--isActive:focus {
  background-color: #ed737c;
}

button.fdsButton--ghost {
  color: var(--color-charcoal);
}

button.fdsButton--outlined {
  border: 1px solid #c4c4c4;
  color: var(--color-charcoal);
  background-color: var(--color-white);
}

button.fdsButton--outlined.fdsButton--isActive {
  background-color: #d9d9d9;
}

button.fdsButton--outlined:hover {
  background-color: #f0f0f0;
}

button.fdsButton--outlined:active {
  background-color: #d9d9d9;
}

button.fdsButton--outlined.fdsButton--isActive:focus {
  background-color: #d9d9d9;
}

button.fdsButton--outlined--blue {
  border: 1px solid var(--color-blue);
  color: var(--color-blue);
  background-color: var(--color-white);
}

button.fdsButton--outlined--blue.fdsButton--isActive {
  background-color: #d9d9d9;
}

button.fdsButton--outlined--blue:hover {
  background-color: #e4f6ff;
}

button.fdsButton--outlined--blue:active {
  background-color: #d9d9d9;
}

button.fdsButton--outlined--blue.fdsButton--isActive:focus {
  background-color: #d9d9d9;
}

button.fdsButton--ghost.fdsButton--isActive {
  background-color: rgb(64 64 64 / 20%);
}

button.fdsButton--ghost:hover {
  background-color: rgb(64 64 64 / 8%);
}

button.fdsButton--ghost:active {
  background-color: rgb(64 64 64 / 20%);
}

button.fdsButton--ghost.fdsButton--isActive:focus {
  background-color: rgb(64 64 64 / 20%);
}

button.fdsButton--outlined.fdsButton--isDestructive.fdsButton--isActive {
  background-color: #fad6d8;
}

button.fdsButton--outlined.fdsButton--isDestructive:hover {
  background-color: #fdeff0;
}

button.fdsButton--outlined.fdsButton--isDestructive:active {
  background-color: #fad6d8;
}

button.fdsButton--outlined.fdsButton--isDestructive.fdsButton--isActive:focus {
  background-color: #fad6d8;
}

button.fdsButton--outlined--blue.fdsButton--isDestructive.fdsButton--isActive {
  background-color: #fad6d8;
}

button.fdsButton--outlined--blue.fdsButton--isDestructive:hover {
  background-color: #fdeff0;
}

button.fdsButton--outlined--blue.fdsButton--isDestructive:active {
  background-color: #fad6d8;
}

button.fdsButton--outlined--blue.fdsButton--isDestructive.fdsButton--isActive:focus {
  background-color: #fad6d8;
}

button.fdsButton--ghost.fdsButton--isDestructive.fdsButton--isActive {
  background-color: rgb(229 50 62 / 20%);
}

button.fdsButton--ghost.fdsButton--isDestructive:hover {
  background-color: rgb(229 50 62 / 8%);
}

button.fdsButton--ghost.fdsButton--isDestructive:active {
  background-color: rgb(229 50 62 / 20%);
}

button.fdsButton--ghost.fdsButton--isDestructive.fdsButton--isActive:focus {
  background-color: rgb(229 50 62 / 20%);
}

.fdsButton--loadingbutton.fdsButton--outlined--blue
  .fdsButton--loading-spinner::before {
  border: 2px solid var(--color-blue);
  border-top-color: transparent;
}

.fdsButton--loading:matches(.fdsButton--ghost, .fdsButton--outlined)
  .fdsButton--loading-spinner::before {
  border: 2px solid #5dabcb;
  border-top-color: transparent;
}

.fdsButton--loading:matches(.fdsButton--outlined, .fdsButton--ghost, .fdsButton--outlined--blue) {
  opacity: 1;
}

.inverted .fdsButton--outlined,
.inverted .fdsButton--outlined--blue {
  border-color: var(--color-white);
}

.inverted .fdsButton--ghost,
.inverted .fdsButton--outlined,
.inverted .fdsButton--outlined--blue {
  color: var(--color-white);
  background: transparent;
}

.inverted button.fdsButton--ghost.fdsButton--isActive,
.inverted button.fdsButton--outlined.fdsButton--isActive,
.inverted
  button.fdsButton--outlined--blue.fdsButton--isActive {
  background-color: rgb(255 255 255 / 32%);
}

.inverted button.fdsButton--ghost:hover,
.inverted button.fdsButton--outlined:hover,
.inverted button.fdsButton--outlined--blue:hover {
  background-color: rgb(255 255 255 / 8%);
}

.inverted button.fdsButton--ghost:active,
.inverted button.fdsButton--outlined:active,
.inverted button.fdsButton--outlined--blue:active {
  background-color: rgb(255 255 255 / 32%);
}

.inverted button.fdsButton--ghost.fdsButton--isActive:focus,
.inverted
  button.fdsButton--outlined.fdsButton--isActive:focus,
.inverted
  button.fdsButton--outlined--blue.fdsButton--isActive:focus {
  background-color: rgb(255 255 255 / 32%);
}

.inverted
  .fdsButton--ghost
  .fdsButton--loading-spinner::before,
.inverted
  .fdsButton--outlined
  .fdsButton--loading-spinner::before,
.inverted
  .fdsButton--outlined--blue
  .fdsButton--loading-spinner::before {
  border: 2px solid var(--color-white);
  border-top-color: transparent;
}

.fdsButton--outlined.fdsButton--isDestructive,
.fdsButton--outlined--blue.fdsButton--isDestructive {
  border-color: var(--color-red);
}

.fdsButton--outlined.fdsButton--isDestructive,
.fdsButton--outlined--blue.fdsButton--isDestructive,
.fdsButton--ghost.fdsButton--isDestructive {
  color: var(--color-red);
}

/* There's a very very unique design requirement here that requires
   the following override. We only want the following design when all 3
   of these cases are true */
.fdsButton--ghost.fdsButton--loading.fdsButton--isDestructive {
  border-color: var(--color-red);
}

.fdsButton--isDestructive:matches(.fdsButton--outlined, .fdsButton--outlined--blue, .fdsButton--ghost)
  .fdsButton--loading-spinner::before {
  border: 2px solid var(--color-red);
  border-top-color: transparent;
}

.fdsButton--m .fdsButton-icon--left {
  margin-right: var(--space-s);
}

.fdsButton--m .fdsButton-icon--right {
  margin-left: var(--space-s);
}

.fdsButton--s .fdsButton-icon--left {
  margin-right: 6px;
}

.fdsButton--s .fdsButton-icon--right {
  margin-left: 6px;
}

.fdsButton-icon--left {
  order: -1;
}
