/**
 * Component helper classes for styling checkable inputs.
 * Replaces user agent input with an FDS icon.
 */

.fdsCheckable {
  position: relative;
}

.fdsCheckable-label {
  padding-left: var(--space-s);
  margin-top: 1px;
}

.radix-checkbox {
  padding: 0;
  margin: 0;
  background: transparent;
  border: 0px solid transparent;
}

.radix-checkbox:focus {
  outline: 0;
}

.radix-checkbox .fds-icon {
  color: var(--font-color-secondary);
}

.radix-checkbox:focus svg {
  box-shadow: inset 0 0 0 3px var(--border-color-focusRing);
  transition: box-shadow 250ms var(--motion-easing-default);
  border-radius: 4px;
}

.radix-checkbox [data-state='checked' i] svg {
  fill: var(--color-blue);
}

.fdsCheckable--disabled {
  color: var(--font-color-hint) !important;
  fill: var(--font-color-hint) !important;
}
