.fdsChip {
  border-radius: 12px;
  font-size: var(--font-size-s);
  line-height: 1;
  align-items: center;
  position: relative;
  display: inline-flex;
  padding: 0 var(--space-s);
  border: 1px solid transparent;
  /* button element specific */
  vertical-align: top;
  min-height: auto;
  /* ----------------------- */
}

.fdsChip-icon {
  display: inline-block;
  vertical-align: middle;
  margin-right: 6px;
}

.fdsChip-close {
  font-size: var(--font-size-xs);
  line-height: inherit;
  border-radius: 50%;
  padding: 3px;
  display: inline-block;
  vertical-align: middle;
}

.fdsChip-subtitle {
  display: inline-block;
  vertical-align: middle;
  padding-left: var(--space-s);
  font-size: var(--font-size-xs);
}

.fdsChip--gray .fdsChip-subtitle {
  color: var(--font-color-secondary);
}

.fdsChip--gray {
  background-color: #E6E6E6;
  color: var(--font-color-heading);
}

.fdsChip--gray.fdsChip--active {
  background-color: #CACACA;
}

.fdsChip--gray:hover {
  background-color: #D8D8D8;
}

.fdsChip--gray .fdsChip-close:hover {
  background-color: #cacaca;
}

.fdsChip--blue .fdsChip-subtitle {
  color: var(--color-aqua);
}

.fdsChip--blue {
  color: var(--color-blue);
  background-color: #E0EDF2;
}

.fdsChip--blue.fdsChip--active {
  background-color: var(--color-sky);
}

.fdsChip--blue:hover {
  background-color: #D4E7EE;
}

.fdsChip--blue .fdsChip-close:hover {
  background-color: var(--color-sky);
}

.fdsChip--outline {
  color: var(--font-color-primary);
  border-color: var(--color-gray);
  background-color: transparent;
}

.fdsChip--outline:hover {
  background-color: #f0f0f0;
}

.fdsChip--outline .fdsChip-close:hover {
  background-color: #d8d8d8;
}

.fdsChip-label {
  display: inline-block;
  vertical-align: middle;
}

.fdsChip--s .fdsChip-label {
  margin: 3px 0;
}

.fdsChip--m .fdsChip-label {
  margin: 5px 0;
}

.fdsChip--s .fdsChip-close {
  margin-left: 6px;
  margin-right: -6px;
}

.fdsChip--m .fdsChip-close {
  margin-left: var(--space-s);
  margin-right: -4px;
}


.fdsChip-ul,
.fdsChip-li {
  display: inline-block;
}

.fdsChip:focus {
  z-index: 1;
}
