.fds-countWrapper {
  width: 100%;
  height: 100%;
}

.fds-count {
  border-radius: var(--space-l);
  height: var(--space-default);
  border: 1px solid;
}

.fds-count--dot {
  padding: 0;
  height: 11px;
  width: 11px;
}

.fds-count-label {
  max-width: var(--media-xl);
}

