.fdsIconButton--hidden {
  visibility: hidden;
}

.fdsIconButton {
  border: 0 none;
  font-size: var(--font-size-xs);
  position: relative;
  line-height: normal;
  padding: 0;
  user-select: none;
  display: flex;
  flex-direction: column;
  background-color: transparent;
  box-sizing: border-box;
  min-height: auto;
}

.fdsIconButton--s {
  width: 24px;
  height: 24px;
}

.fdsIconButton--m {
  width: 32px;
  height: 32px;
}

.fdsIconButton--disabled {
  opacity: var(--button-opacity);
  pointer-events: none;
}

.fdsIconButton--aqua {
  background-color: var(--color-aqua);
  color: var(--color-white);
}

.fdsIconButton--aqua:hover {
  background-color: #5ab1d1;
}

.fdsIconButton--aqua:active {
  background-color: #85c6dd;
}

.fdsIconButton--aqua.fdsIconButton--isActive {
  background-color: #85c6dd;
}

.fdsIconButton--ghost,
.fdsIconButton--outlined {
  color: var(--button-primary-color);
}

.fdsIconButton--ghost.fdsIconButton--isActive {
  background-color: rgba(64, 64, 64, 0.2);
}

.fdsIconButton--ghost:hover {
  background-color: rgba(64, 64, 64, 0.08);
}

.fdsIconButton--ghost:active {
  background-color: rgba(64, 64, 64, 0.2);
}

.fdsIconButton--ghost.fdsIconButton--isActive:focus {
  background-color: rgba(64, 64, 64, 0.2);
}

.fdsIconButton--outlined {
  border: 1px solid #c4c4c4;
  background-color: var(--color-white);
}

.fdsIconButton--outlined.fdsIconButton--isActive {
  background-color: #d9d9d9;
}

.fdsIconButton--outlined:hover {
  background-color: #f0f0f0;
}

.fdsIconButton--outlined:active {
  background-color: #d9d9d9;
}

.fdsIconButton--outlined.fdsIconButton--isActive:focus {
  background-color: #d9d9d9;
}

.inverted .fdsIconButton--outlined {
  border: 1px solid var(--color-white);
  background-color: transparent;
}

.inverted .fdsIconButton--ghost,
.inverted .fdsIconButton--outlined {
  color: var(--color-white);
}

/* stylelint-disable-next-line selector-max-class  */
.inverted .fdsIconButton--ghost.fdsIconButton--isActive,
.inverted .fdsIconButton--outlined.fdsIconButton--isActive {
  background-color: rgba(255, 255, 255, 0.32);
}

.inverted .fdsIconButton--ghost:hover,
.inverted .fdsIconButton--outlined:hover {
  background-color: rgba(255, 255, 255, 0.08);
}

.inverted .fdsIconButton--ghost:active,
.inverted .fdsIconButton--outlined:active {
  background-color: rgba(255, 255, 255, 0.32);
}

/* stylelint-disable-next-line selector-max-class,selector-max-specificity  */
.inverted .fdsIconButton--ghost.fdsIconButton--isActive:focus,
.inverted .fdsIconButton--outlined.fdsIconButton--isActive:focus {
  background-color: rgba(255, 255, 255, 0.32);
}

.fdsIconButton--isDestructive {
  color: var(--color-red);
}

.fdsIconButton--isDestructive.fdsIconButton--isActive {
  background-color: rgba(229, 50, 62, 0.2);
}

.fdsIconButton--isDestructive:hover {
  background-color: rgba(229, 50, 62, 0.08);
}

.fdsIconButton--isDestructive:active {
  background-color: rgba(229, 50, 62, 0.2);
}

.fdsIconButton--isDestructive.fdsIconButton--isActive:focus {
  background-color: rgba(229, 50, 62, 0.2);
}

.fdsIconButton--loading {
  background-color: transparent;
  pointer-events: none;
}

/*
   Spinner technique is from the following:
   https://stephanwagner.me/only-css-loading-spinner
   https://codepen.io/stuartjnelson/pen/zjveOO
*/
@keyframes spinner {
  0% {
    transform: translate3d(-50%, -50%, 0) rotate(0deg);
  }

  100% {
    transform: translate3d(-50%, -50%, 0) rotate(360deg);
  }
}

.fdsIconButton--loading::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 2px solid var(--color-aqua);
  border-top-color: transparent;
  animation: spinner 600ms linear infinite;
  transform: translate3d(-50%, -50%, 0);
  will-change: transform;
}


.fdsIconButton--loading.fdsIconButton--isDestructive::before {
  border-color: var(--color-red);
  border-top-color: transparent;
}
