.fdsIconInput {
  position: relative;
  z-index: 2;
  flex-grow: 1;
  width: 100%;
}

.fdsIconInput input {
  width: 100%; /* fill width of relative container */
}

.fdsIconInput--hasStartIcon input {
  padding-left: var(--space-double);
}

.fdsIconInput--hasEndIcon input {
  padding-right: var(--space-double);
}

.fdsIconInput-icon {
  position: absolute;
  top: 1px;
  bottom: 1px;
}

.fdsIconInput-icon--start {
  left: var(--space-half);
}

.fdsIconInput-icon--end {
  right: var(--space-half);
}
