.fdsIndicator {
  font-family: var(--font-family-default);
  line-height: var(--font-lineHeight-bigText);
  font-weight: var(--font-weight-bold);
  color: rgb(var(--rgb-navy, inherit) / 60%);
  background-color: rgb(var(--rgb-navy, inherit) / 8%);
  text-align: center;
  display: inline-block;
  vertical-align: middle;
}

.fdsIndicator--xs {
  font-size: var(--font-size-xs);
  padding: 2px 4px;
  border-radius: 2px;
}

.fdsIndicator--s {
  font-size: var(--font-size-s);
  padding: var(--border-radius-default) var(--space-s);
  border-radius: var(--border-radius-default);
}
