.fdsMenuItems {
  border-width: 0;
  padding: 0;
  font-size: inherit;
  min-width: 140px;
  max-width: 460px;
  overflow-y: auto;
}

.fdsMenuItem {
  padding: var(--space-s) var(--space-default);
  white-space: initial;
  margin: 0;
  cursor: pointer;
}

.fdsMenuItem:focus {
  outline: 0;
}

.fdsMenuItem:hover {
  background: var(--color-lightGray);
  color: inherit;
}

.fdsMenuItem--disabled {
  color: var(--font-color-hint);
}

.fdsMenuItem--disabled:hover {
  background: rgb(var(--rgb-lightGray) / 25%);
  cursor: not-allowed;
}
