.highlightOverride {
  background-color: transparent !important;
}

.pointer {
  cursor: pointer;
}

.optionLeft {
  flex: 0 0 110px;
}

.optionRight {
  flex-grow: 1;
  width: 100%;
  overflow: hidden;
}

.fdsSmartInput {
  box-shadow: none !important;
  min-height: var(--space-xl);
}

.smart-input-option {
  padding: 2px 20px 2px 15px;
  color: inherit;
  cursor: pointer;
  overflow: hidden;
  line-height: 23px;
}

.extra-info {
  font-size: var(--font-size-s);
  line-height: var(--font-lineHeight-smallText);
  margin-left: var(--space-xs);
  text-align: left;
  float: none !important;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  justify-content: flex-start;
  align-items: flex-end;
}

.custom-query-extra-info {
  float: right;
  height: 22px;
  overflow: hidden;
  text-align: right;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.bool {
  font-size: 12px;
  margin: 0 3px;
  color: #3dc269;
}

.bool.boolOR {
  color: var(--color-orange);
}

.bool.boolAND {
  color: var(--color-green);
}

.bool.boolNOT {
  color: var(--color-red);
}

.parens {
  font-size: 12px;
  color: #3dc269;
}

.suggestionIcon {
  float: left;
  width: 30px;
  line-height: 22px;
}

.searchItemType {
  width: 100%;
  line-height: var(--font-lineHeight-smallText);
  font-size: var(--font-size-s);
  margin-top: 3px;
}

.entity {
  border-radius: 3px;
  font-size: var(--font-size-l);
  color: var(--color-slate);
}

.logoWrapper {
  width: 162px;
}

/* #styled-input {
  background-color: var(--color-white);
  border-radius: 5px;
  width: 288px;
}

#styled-input .universe-custom-query {
  width: 100%;
  z-index: var(--zindex-modal);
  padding: 0;
  max-height: none;
  font-family: var(--font-family-default);
  font-size: 14px;
  color: var(--color-slate);
}

#styled-input .universe-custom-query .entity {
  border-radius: 3px;
  font-size: 16px;
  color: var(--color-slate);
}

#styled-input .universe-custom-query .highlight {
  color: var(--color-white);
} */

.activeBorder {
  transition: all 0.2s ease-in-out;
  box-shadow: 0 0 3px var(--color-aqua);
  border: 1px solid var(--color-aqua);
}

.inactiveBorder {
  transition: all 0.2s ease-in-out;
  outline: none;
  border: 1px solid #ccc;
}
