.fds-statusWrapper {
  width: 100%;
  height: 100%;
}

.fds-status {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--space-l);
  height: var(--space-default);
  border: 1px solid;
}

.fds-status--dot {
  padding: 0;
  height: var(--space-s);
  width: var(--space-s);
}
