/**
* Toast
*/
:root {
  --toast-border-radius: 4px;
  --toast-maxWidth: 600px;
}

.toast {
  max-width: var(--toast-maxWidth);
  min-width: 540px;
  border-radius: var(--toast-border-radius);
  box-shadow: 0 2px 16px 4px rgba(0, 0, 0, 0.25);
  background: var(--color-white);
}

.toast-content {
  padding: calc(var(--space-half) / 2) var(--space-default);
  min-height: 40px;
}

.toast-action {
  letter-spacing: 0.12em;
}

.toast-icon {
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.toast-bar {
  height: var(--space-s);
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.toast-svg {
  background: var(
    --color-sky
  ); /* the SVG line will cover up this bg */
  border-radius: var(--toast-border-radius)
    var(--toast-border-radius) 0 0;
  height: var(--space-s);
  width: 100%;
}

.toast-svg--animate line {
  animation: indeterminateProgress 1500ms linear infinite;
}

@keyframes indeterminateProgress {
  from {
    stroke-dashoffset: 0;
  }

  to {
    stroke-dashoffset: calc(var(--toast-maxWidth) * -1);
  }
}
