/**
 * Toaster positioning styles
 */

:root {
  --toast-timeout: 380ms;
}

body {
  /* ensure any page running toast uses document body as positioning reference */
  position: relative;
}

.toast-constrainGrowth {
  display: flex;
  align-items: center;
  min-height: 40px;
}

.toaster {
  position: fixed;
  bottom: var(--space-xl);
  left: var(--space-xl);
  z-index: var(--zindex-modal);
}

