.updatable {
  display: inline-block;  /* should be removed in v10 (UIP-997) */
  vertical-align: middle; /* should be removed in v10 (UIP-997) */
  position: relative;
}

.updatable-indicator {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(40%, -40%);
  z-index: 2;
}
