.updatable {
  display: inline-block;
  position: relative;
}

.updatable-indicator {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(40%, -40%);
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-white);
  background: var(--color-red);
  border-radius: 100px;
  padding: 0 var(--space-half);
  height: var(--space-default);
  white-space: nowrap;
  font-size: var(--font-size-xs);
  z-index: 9;
}
