/*---
title: Reset Button
name: resetButton
section: Form Helpers
---

Removes default user agent styling from `button` elements.

```example:html
<button class="resetButton">This is a button</button>
```
*/

button.resetButton {
  background: transparent;
  border-width: 0;
  padding: 0;
  margin: 0;
  min-height: initial;
}
