/**
Form tag defaults
*/

::placeholder {
  color: var(--font-color-light);
}

label {
  display: block;
  margin-bottom: 4px;
  font-weight: var(--font-weight-default);
  color: var(--font-color-dark);
}

button,
input,
select,
textarea {
  line-height: var(--font-lineHeight-default);
  font-weight: normal;
  vertical-align: middle;
  margin-bottom: 4px;
}

select,
textarea,
input:not([type="submit"]):not([type="checkbox"]):not([type="radio"]) {
  display: inline-block;
  padding: calc(var(--space-half) / 2) var(--space-half);
  border-radius: 4px;
  border: 1px solid var(--color-silver);
  background: var(--color-white);
  width: auto;
  min-width: var(--space-double);
}

button,
input[type="color"],
input[type="reset"],
input[type="submit"] {
  box-sizing: border-box;
  min-height: var(--space-double);
}

button,
label,
select,
input[type="color"],
input[type="reset"],
input[type="submit"],
input[type="radio"],
input[type="checkbox"] {
  cursor: pointer;
}

/**
 * Specific input overrides
 */

input[type="radio"],
input[type="checkbox"] {
  font-size: var(--font-size-default);
  margin-right: var(--space-half);
  vertical-align: text-top;
  margin-bottom: 0;
}

select {
  border-color: var(--color-lightGray);
  background: var(--color-lightGray);
  height: var(--space-double);
}

select[multiple] {
  background: var(--color-white);
  height: auto;
}

textarea {
  box-sizing: content-box;
  vertical-align: top;
}

input[type="seach"] {
  box-sizing: content-box;
  -webkit-appearance: textfield;
}

input[type="file"] {
  font-size: var(--font-size-small);
}


/**
 * Input states
 */

select:invalid,
textarea:invalid,
input:not([type="submit"]):invalid {
  border-color: var(--color-red);
}

select:disabled,
textarea:disabled,
input:not([type="submit"]):disabled {
  color: var(--font-color-disabled);
  border-color: var(--color-lightGray);
}
