.type--link {
  color: var(--font-color-link);
}

.type--link:hover,
.type--link:focus,
.type--link:active {
  cursor: pointer;
  color: var(--color-blue);
  text-decoration: underline;
}

.inverted .type--link {
  color: var(--font-color-linkInverted);
}
