/*---
title: Heading Tags
name: headingTags
section: Typesetting
---
By default, HTML heading tags are set to match the default
body text. To set the display of a given heading tag, use one
of the typesetting classes below.

```example:html
<h1>Heading1</h1>
<h2>Heading2</h2>
<h3>Heading3</h3>
<h4>Heading4</h4>
<h5>Heading5</h5>
<h6>Heading6</h6>
```
*/

.typeset--head1,
.typeset--head2,
.typeset--head3,
.typeset--head4 {
  color: var(--font-color-dark);
  font-family: var(--font-family-condensed);
}

/*---
title: Heading 1
name: heading1
section: Typesetting
---

```example:html
<p class="typeset--head1">This is a top-level heading</p>
```
*/
.typeset--head1 {
  font-size: var(--font-size-heading1);
  font-weight: var(--font-weight-bold);
  line-height: var(--font-lineHeight-bigText);
}

/*---
title: Heading 2
name: heading2
section: Typesetting
---

```example:html
<p class="typeset--head2">This is a secondary heading</p>
```
*/
.typeset--head2 {
  font-size: var(--font-size-heading2);
  font-weight: var(--font-weight-bold);
  line-height: var(--font-lineHeight-bigText);
}

/*---
title: Heading 3
name: heading3
section: Typesetting
---

```example:html
<p class="typeset--head3">This is a tertiary heading</p>
```
*/
.typeset--head3 {
  font-size: var(--font-size-heading3);
  font-weight: var(--font-weight-bold);
  line-height: var(--font-lineHeight-bigText);
}

/*---
title: Heading 4
name: heading4
section: Typesetting
---

```example:html
<p class="typeset--head4">This is a minor heading</p>
```
*/
.typeset--head4 {
  font-size: var(--font-size-big);
  font-weight: var(--font-weight-bold);
  line-height: var(--font-lineHeight-bigText);
}

/*---
title: Body
name: bodyText
section: Typesetting
---
Default body text. No classes necessary.

```example:html
<p>This is default body text</p>
```
*/
/* see documentTags.css */


/*---
title: Data
name: dataText
section: Typesetting
---
Typsetting for data (e.g. tables).

```example:html
<p class="typeset--data">This is data text. Good for tables.</p>
```
*/
.typeset--data {
  font-size: var(--font-size-small);
  line-height: var(--font-lineHeight-smallText);
}

/*---
title: Caption
name: captionText
section: Typesetting
---
Tiny text for captions and legalese.
**This is not very readable; only use in special circumstances.**

```example:html
<p class="typeset--caption">This is a caption. &copy; 2018</p>
```
*/
.typeset--caption {
  font-size: var(--font-size-tiny);
  line-height: var(--font-lineHeight-smallText);
}
