.type--head1,
.type--head2,
.type--head3,
.type--head4 {
  color: var(--font-color-heading);
  font-family: var(--font-family-default);
}

.inverted .type--head1,
.inverted .type--head2,
.inverted .type--head3,
.inverted .type--head4 {
  color: var(--font-color-headingInverted);
}

.type--head1 {
  font-size: var(--font-size-4xl);
  font-weight: var(--font-weight-bold);
  line-height: var(--font-lineHeight-bigText);
}

.type--head2 {
  font-size: var(--font-size-3xl);
  font-weight: var(--font-weight-bold);
  line-height: var(--font-lineHeight-bigText);
}

.type--head3 {
  font-size: var(--font-size-2xl);
  font-weight: var(--font-weight-bold);
  line-height: var(--font-lineHeight-bigText);
}

.type--head4 {
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-bold);
  line-height: var(--font-lineHeight-bigText);
}

.type--big {
  font-size: var(--font-size-l);
}

.type--data {
  font-size: var(--font-size-s);
  line-height: var(--font-lineHeight-smallText);
}

.type--caption {
  font-size: var(--font-size-xs);
  line-height: var(--font-lineHeight-smallText);
  text-rendering: optimizelegibility;
}
