/*---
title: Transitions
name: transitions
section: Animation Helpers
---

Adds standard transitions

class                | description
-------------------- | -----------------------------------------------------
`transition-default` | transitions properties to default duration and timing
*/

.transition-default {
  transition-property: all;
  transition-duration: 250ms;
  transition-timing-function: var(--motion-easing-default);
}
