/* Custom properties */
@import "fds-dictionary/dist/css/customProperties";

/* Base styles */
@import "./base/customNormalize";
@import "./base/documentTags";
@import "./base/inlineTags";
@import "./base/blockTags";
@import "./base/headingTags";
@import "./base/formTags";

/* Spacing Helpers */
@import "./helperClasses/spacing/flush";
@import "./helperClasses/spacing/margin";
@import "./helperClasses/spacing/padding";

/* Position Helpers */
@import "./helperClasses/position/align";
@import "./helperClasses/position/valign";
@import "./helperClasses/position/childAlign";

/* Layout Helpers */
@import "./helperClasses/layout/media";

/* Typesetting */
@import "./helperClasses/typeset/scale";

/* Text modifiers */
@import "./helperClasses/typemod/size";
@import "./helperClasses/typemod/weight";
@import "./helperClasses/typemod/color";
@import "./helperClasses/typemod/style";

/* Form field modifiers */
@import "./helperClasses/forms/error";
@import "./helperClasses/forms/reset";

/* Whitespace helpers */
@import "./helperClasses/whitespace/truncate";
@import "./helperClasses/whitespace/wrap";

