/*----
title: Color Modifiers
name: typeColorModifiers
section: Type Modifiers
----
Modifies color of text.

### Standard text colors

```example:html
<div class="padding--all">
  <p class="color--heading">Heading text color</p>
  <p class="color--primary">Primary text color (default)</p>
  <p class="color--secondary">Secondary text color</p>
  <p class="color--hint">Hint text color</p>
  <p class="color--success">Success text color</p>
  <p class="color--error">Error text color</p>
</div>
```

### Inverted standard text colors

When using standard text color classes (`heading`,
`primary`, `secondary`, `hint`), a parent element with the
`inverted` class will switch the text to tints of white.

```example:html
<div class="padding--all inverted" style="background: var(--color-navy);">
  <p class="color--heading">Heading text color</p>
  <p class="color--primary">Primary text color (default)</p>
  <p class="color--secondary">Secondary text color</p>
  <p class="color--hint">Hint text color</p>
  <p class="color--success">Success text color</p>
  <p class="color--error">Error text color</p>
</div>
```

### Fancy text colors
If you don't see the color you need here, please notify UI Platform.
_Text in this example is set in `fontWeight--bold`_
```example:html
<ul class="fontWeight--bold">
  <li class="color--gray">Gray text</li>
  <li class="color--slate">Slate text</li>
  <li class="color--green">Green text</li>
  <li class="color--mint">Mint text</li>
  <li class="color--navy">Navy text</li>
  <li class="color--blue">Blue text</li>
  <li class="color--aqua">Aqua text</li>
  <li class="color--sky">Sky text</li>
  <li class="color--violet">Purple text</li>
  <li class="color--purple">Purple text</li>
  <li class="color--red">Red text</li>
  <li class="color--orange">Orange text</li>
  <li class="color--white">White text</li>
</ul>
```
*/

.color--heading {
  color: var(--font-color-heading) !important;
}

.inverted .color--heading {
  color: var(--font-color-headingInverted) !important;
}

.color--primary {
  color: var(--font-color-primary) !important;
}

.inverted .color--primary {
  color: var(--font-color-primaryInverted) !important;
}

.color--secondary {
  color: var(--font-color-secondary) !important;
}

.inverted .color--secondary {
  color: var(--font-color-secondaryInverted) !important;
}

.color--hint {
  color: var(--font-color-hint) !important;
}

.inverted .color--hint {
  color: var(--font-color-hintInverted) !important;
}

.color--success {
  color: var(--font-color-success) !important;
}

.inverted .color--success {
  color: var(--font-color-successInverted) !important;
}

.color--error {
  color: var(--font-color-error) !important;
}

.inverted .color--error {
  color: var(--font-color-errorInverted) !important;
}

.color--slate {
  color: var(--color-slate) !important;
}

.color--gray {
  color: var(--color-gray) !important;
}

.color--green {
  color: var(--color-green) !important;
}

.color--mint {
  color: var(--color-mint) !important;
}

.color--navy {
  color: var(--color-navy) !important;
}

.color--blue {
  color: var(--color-blue) !important;
}

.color--aqua {
  color: var(--color-aqua) !important;
}

.color--sky {
  color: var(--color-sky) !important;
}

.color--violet {
  color: var(--color-violet) !important;
}

.color--purple {
  color: var(--color-purple) !important;
}

.color--red {
  color: var(--color-red) !important;
}

.color--orange {
  color: var(--color-orange) !important;
}

.color--white {
  color: var(--color-white) !important;
}

