.fontSize--4xl,
.fontSize--3xl,
.fontSize--2xl,
.fontSize--xl {
  line-height: var(--font-lineHeight-bigText) !important;
}

.fontSize--l,
.fontSize--default {
  line-height: var(--font-lineHeight-default) !important;
}

.fontSize--s,
.fontSize--xs {
  line-height: var(--font-lineHeight-smallText) !important;
}

.fontSize--4xl {
  font-size: var(--font-size-4xl) !important;
}

.fontSize--3xl {
  font-size: var(--font-size-3xl) !important;
}

.fontSize--2xl {
  font-size: var(--font-size-2xl) !important;
}

.fontSize--xl {
  font-size: var(--font-size-xl) !important;
}

.fontSize--l {
  font-size: var(--font-size-l) !important;
}

.fontSize--default {
  font-size: var(--font-size-default) !important;
}

.fontSize--s {
  font-size: var(--font-size-s) !important;
}

.fontSize--xs {
  font-size: var(--font-size-xs) !important;
  text-rendering: optimizeLegibility; /* stylelint-disable-line */
}

