/*----
title: Type Style Modifiers
name: typeStyleModifiers
section: Type Modifiers
----
Modifies style, decoration, or transform of text

```example:html
<p class="typemod--italic">Italic text</p>
<p class="typemod--underline">Underline text</p>
<p class="typemod--caps">Uppercase text</p>
```
*/
.typemod--italic {
  font-style: italic;
}

.typemod--underline {
  text-decoration: underline;
}

.typemod--caps {
  text-transform: uppercase;
}
