.fontWeight--bold {
  font-weight: var(--font-weight-bold) !important;
}

/* Intentionally left undocumented for now (via design) */
.fontWeight--medium {
  font-weight: var(--font-weight-medium) !important;
}

.fontWeight--book {
  font-weight: var(--font-weight-default) !important;
}
