/*---
title: Media Sizing
name: layoutMedia
section: Layout Helpers
---

For standard media like avatars and icons, these classes set square
dimenions on the selected element to match standard media sizes.

class           | description
--------------- | ---------------------------------
`media--xs `    | Sets height and width of element to `var(--media-xs)`
`media--s `     | Sets height and width of element to `var(--media-s)`
`media--m `     | Sets height and width of element to `var(--media-m)`
`media--l `     | Sets height and width of element to `var(--media-l)`
`media--xl `    | Sets height and width of element to `var(--media-xl)`

```example:html
<style>
  .DOC_MEDIA {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: 0.5rem;
    background: var(--color-violet);
    color: var(--color-purple);
  }
</style>
<div class="DOC_MEDIA media--xs">xs</div>
<div class="DOC_MEDIA media--s">s</div>
<div class="DOC_MEDIA media--m">m</div>
<div class="DOC_MEDIA media--l">l</div>
<div class="DOC_MEDIA media--xl">xl</div>
```
*/

.media--xs {
  height: var(--media-xs) !important;
  width: var(--media-xs) !important;
}

.media--s {
  height: var(--media-s) !important;
  width: var(--media-s) !important;
}

.media--m {
  height: var(--media-m) !important;
  width: var(--media-m) !important;
}

.media--l {
  height: var(--media-l) !important;
  width: var(--media-l) !important;
}

.media--xl {
  height: var(--media-xl) !important;
  width: var(--media-xl) !important;
}

/*---
title: Display
name: layoutDisplay
section: Layout Helpers
---

Modifies display property of element

class                     | description
------------------------- | ---------------------------------
`display--none`           | Sets `display` to `none`
`display--block`          | Sets `display` to `block`
`display--flex`           | Sets `display` to `flex`
`display--inline`         | Sets `display` to `inline`
`display--inlineBlock`    | Sets `display` to `inline-block`
`display--inlineFlex`     | Sets `display` to `inline-flex`
`display--grid`           | Sets `display` to `grid`
*/

.display--none { display: none; }

.display--block { display: block; }

.display--flex { display: flex; }

.display--inline { display: inline; }

.display--inlineBlock { display: inline-block; }

.display--inlineFlex { display: inline-flex; }

.display--grid { display: grid; }