.media--xs {
  height: var(--media-xs) !important;
  width: var(--media-xs) !important;
}

.media--s {
  height: var(--media-s) !important;
  width: var(--media-s) !important;
}

.media--m {
  height: var(--media-m) !important;
  width: var(--media-m) !important;
}

.media--l {
  height: var(--media-l) !important;
  width: var(--media-l) !important;
}

.media--xl {
  height: var(--media-xl) !important;
  width: var(--media-xl) !important;
}
