/*---
title: Width
name: layoutWidth
section: Layout Helpers
---

Sets element width in percentage.

class        | description
------------ | ---------------------------------
`span--100`  | Sets `width` to `100%`
`span--50`   | Sets `width` to `50%`

```example:html
<p class="span--100" style="background: pink;">100% width</p>
<p class="span--50" style="background: pink;">50% width</p>
```

*/

.span--100 {
  width: 100% !important;
}

.span--50 {
  width: 50% !important;
}
