/*---
title: Text wrap control
name: wrap
section: Text flow
---

Helpers to adjust text wrapping with CSS.

Allows compontents to render full strings while CSS does the job
of clamping text to one line.

Class                   | Description
----------------------- | --------------------------------
`.wrap--hyphenate`      | Allows breaking on word with hyphenation
*/

.wrap--hyphenate {
  overflow-wrap: break-word;
  word-break: break-word;
  word-wrap: break-word;
  hyphens: auto;
}
