/*---
title: Reset Button
name: resetButton
section: Form Helpers
---

```example:html
<button class="resetButton">This is a button</button>
```
*/

button.resetButton {
  background: transparent;
  border-width: 0;
}
