/*---
title: Reset Input
name: resetInput
section: Form Helpers
---

Sometimes we need to place an input inside another visual
element, like a chip or a token editor. The `resetInput`
class will strip away margin and border styles.

```example:html
<input value="Normal input" />
<input class="resetInput" value="'Reset' input" />
```
*/

select.resetInput,
input.resetInput {
  border-width: 0;
  background: transparent;
  margin: 0;
}
