@import "../../css/customProperties.css";

body {
  font-size: 16px;
  padding: 1rem;
  line-height: 1.4;
  color: rgba(255, 255, 255, 0.8);
  background: #333;
  text-rendering: geometricPrecision; /* stylelint-disable-line */
}

:root {
  --font-family-mono: "IBM Plex Mono","Menlo","DejaVu Sans Mono","Bitstream Vera Sans Mono","Courier", monospace;
}

a:link,
a:visited,
a:hover,
a:active {
  color: #fff;
}


h1,
h2,
h3,
h4,
h5,
h6,
p,
code {
  margin: 0;
  padding: 0;
}

p {
  margin-bottom: 16px;
}

h1,
h2 {
  margin-bottom: 32px;
  color: #bbdbe5;
}

h2 {
  font-size: 42px;
  transform: translateX(-21px);
}

code {
  font-family: var(--font-family-mono);
}

.bounds {
  margin: 0 auto;
  max-width: 1240px;
  margin-bottom: 32px;
}

.swatch {
  display: inline-flex;
  width: 36px;
  height: 36px;
}

.swatch--base {
  border-radius: 100%;
}

.propertiesTable {
  display: table;
  table-layout: auto;
  border-collapse: collapse;
  font-family: var(--font-family-mono);
  text-align: left;
  width: 100%;
}

.propertiesTable td {
  border-top: 1px solid #efefef;
}

.propertiesTable th,
.propertiesTable td {
  padding: 8px 16px;
}

.propertiesTable th {
  font-size: 21px;
}

.propertiesTable td:hover {
  background-color: #f2f2f2;
  color: #333;
  cursor: copy;
}

.palettes {
  width: 660px;
  margin: 32px auto 0;
}

.palette {
  display: flex;
  align-items: flex-start;
  margin-bottom: 1rem;
  border-top: 1px solid rgba(255,255,255,0.8);
  padding-top: 8px;
}

.palette-name {
  color: #fff;
  margin-right: 1rem;
  flex-grow: 1;
}

.palette-swatches {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
  flex-shrink: 1;
}

.palette-swatches .swatch {
  width: 48px;
  height: 48px;
}

.palette-swatches li {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 4px;
}

.swatch-key {
  font-family: var(--font-family-mono);
  font-size: 12px;
  margin-top: 0.25em;
}
