.border--focus:focus {
  outline: 0;
  box-shadow: 0 0 0 2px var(--border-color-focusRing);
  transition: box-shadow 250ms var(--motion-easing-default);
}

.border--focus--noTransition:focus {
  outline: 0;
  box-shadow: 0 0 0 2px var(--border-color-focusRing);
}
