.rounded--top {
  border-radius: var(--border-radius-default)
    var(--border-radius-default) 0 0;
}

.rounded--right {
  border-radius: 0 var(--border-radius-default)
    var(--border-radius-default) 0;
}

.rounded--bottom {
  border-radius: 0 0 var(--border-radius-default)
    var(--border-radius-default);
}

.rounded--left {
  border-radius: var(--border-radius-default) 0 0
    var(--border-radius-default);
}

.rounded--all {
  border-radius: var(--border-radius-default);
}
