:root {
  --standardBorder: 1px solid rgba(var(--rgb-charcoal), 0.12);
}

.border--none {
  border-width: 0 !important;
}

.border--top {
  border-top: var(--standardBorder);
}

.border--right {
  border-right: var(--standardBorder);
}

.border--bottom {
  border-bottom: var(--standardBorder);
}

.border--left {
  border-left: var(--standardBorder);
}

.border--all {
  border: var(--standardBorder);
}

.inverted:matches(
.border--top,
.border--right,
.border--bottom,
.border--left,
.border--all,) {
  border-color: var(--font-color-hintInverted);
}
