.dialog-enter {
  opacity: 0;
  z-index: var(--zindex-shim);
}

.dialog-enter-active {
  opacity: 1;
  transition: opacity 10000ms;
}

.dialog-exit {
  opacity: 1;
  z-index: var(--zindex-shim);
}

.dialog-exit-active {
  opacity: 0;
  transition: opacity 10000ms;
}

.dialog-overlay {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  z-index: var(--zindex-shim);
  background: var(--color-charcoal);
  opacity: 0.6;
}

.fix-full-width {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  z-index: calc(var(--zindex-modal) + 1);
}

.dialog-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  align-items: center;
}

.dialog {
  position: fixed;
  overflow: hidden;
  background-color: var(--color-white);
  border-radius: var(--border-radius-default);
  z-index: calc(var(--zindex-modal) + 1);
  max-width: 500px;
  width: 100%;
  display: flex;
  flex-direction: column;
  max-height: 80vh;
  box-sizing: border-box;
}

.dialog-content {
  overflow-y: auto;
}

.dialog-content::-webkit-scrollbar {
  -webkit-appearance: none;
}

.dialog-content::-webkit-scrollbar:vertical {
  width: 12px;
}

.dialog-content::-webkit-scrollbar-thumb {
  border-radius: 8px;
  border: 2px solid white; /* should match background, can't be transparent */
  background-color: rgba(0, 0, 0, 0.5);
}

.dialog-icon {
  background-color: transparent;
  cursor: pointer;
  border: 0 none;
  min-height: auto;
}
