.dialog-enter {
  z-index: var(--zindex-shim);
  opacity: 0;
  position: relative;
}

.dialog-header {
  position: relative;
}

.dialog-enter-active {
  opacity: 1;
  transition: opacity 200ms;
}

.dialog-exit {
  z-index: var(--zindex-shim);
  opacity: 0;
  opacity: 1;
  z-index: 20;
  position: relative;
}

.dialog-exit-active {
  z-index: var(--zindex-shim);
  opacity: 0;
  transition: opacity 200ms;
}

.dialog-overlay {
  z-index: var(--zindex-shim);
  background: var(--color-charcoal);
  opacity: 0.6;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
}

.dialog-wrapper {
  z-index: var(--zindex-modal);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  align-items: center;
}

.dialog {
  position: relative;
  overflow: hidden;
  background-color: var(--color-white);
  border-radius: var(--border-radius-default);
  width: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.dialog-content {
  overflow-y: auto;
}

.dialog-content::-webkit-scrollbar {
  -webkit-appearance: none;
}

.dialog-content::-webkit-scrollbar:vertical {
  width: 12px;
}

.dialog-content::-webkit-scrollbar-thumb {
  border-radius: 8px;
  border: 2px solid white; /* should match background, can't be transparent */
  background-color: rgba(0, 0, 0, 0.5);
}

.dialog-icon {
  position: absolute;
  top: 12px;
  right: 12px;
}
