.hscroll {
  position: relative; /* context for fade elements */
}

.hscroll-content {
  box-sizing: content-box;
  white-space: nowrap;
}

.hscroll-overflowEl {
  overflow-x: scroll;
}

/**
 * _always_ show the horizontal scrollbar.
 * mimic default osx/webkit styles.
 */
.hscroll-overflowEl::-webkit-scrollbar {
  -webkit-appearance: none;
}

.hscroll-overflowEl::-webkit-scrollbar:horizontal {
  height: 11px;
}

.hscroll-overflowEl::-webkit-scrollbar-thumb {
  border-radius: 8px;
  border: 1px solid white;
  background-color: rgba(0, 0, 0, 0.5);
}

/* adds faux gutter for scrollbar */
.hscroll--enableGutter {
  background: var(--color-lightGray);
}


/**
 * background color in content area must be specified
 * instead of inheriting from container, which could have
 * a background color for the faux gutter
 */
.hscroll--bgColor--white .hscroll-content {
  background: var(--color-white);
}

.hscroll--bgColor--haze .hscroll-content {
  background: var(--color-haze);
}



/**
 * Fade management
 *
 * pseudo-elements with linear gradients create the fade
 * effect on the edges of `hscroll`
 *
 * `before` - left fade
 * `after` - right fade
 */
.hscroll--enableFade::before,
.hscroll--enableFade::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  width: var(--space-default);
  z-index: 1; /* fade elements should appear above content */
}

.hscroll--enableFade::before {
  display: none; /* scrolLeft defaults to 0; hide the fade until relevant */
  left: 0;
}

.hscroll--enableFade::after {
  right: 0;
}

/* show the left fade when scrolling */
.hscroll--scrolled::before {
  display: block;
}

/* hide the right fade when scrolled to end */
.hscroll--scrollEnd::after {
  display: none;
}

/* white fades */
.hscroll--bgColor--white.hscroll--enableFade::before {
  background-image: linear-gradient(to right, var(--color-white), rgba(var(--rgb-white), 0));
}

.hscroll--bgColor--white.hscroll--enableFade::after {
  background-image: linear-gradient(to left, var(--color-white), rgba(var(--rgb-white), 0));
}

/* haze fades */
.hscroll--bgColor--haze.hscroll--enableFade::before {
  background-image: linear-gradient(to right, var(--color-haze), rgba(var(--rgb-haze), 0));
}

.hscroll--bgColor--haze.hscroll--enableFade::after {
  background-image: linear-gradient(to left, var(--color-haze), rgba(var(--rgb-haze), 0));
}

