.fdsAvatar {
  font-size: var(--font-size-xs);
  user-select: none;
  box-sizing: border-box;
  text-align: center;
  padding: 0;
  margin: 0;
  position: relative;
  font-weight: var(--font-weight-bold);
  display: inline-block;
  border: 0 none;
  vertical-align: baseline;
}

.fdsAvatar-img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: cover;
}

.fdsAvatar--m {
  font-size: var(--font-size-m);
  font-family: var(--font-family-condensed);
  width: 32px;
  height: 32px;
  /* stylelint-disable-next-line declaration-property-unit-whitelist */
  line-height: 32px;
}

.fdsAvatar--s {
  font-size: var(--font-size-s);
  width: 24px;
  height: 24px;
  /* stylelint-disable-next-line declaration-property-unit-whitelist */
  line-height: 24px;
}

.fdsAvatar--square,
.fdsAvatar--square .fdsAvatar-img {
  border-radius: var(--border-radius-default);
}

.fdsAvatar--circle,
.fdsAvatar--circle .fdsAvatar-img {
  border-radius: 50%;
}