.fdsAvatar {
  font-size: var(--font-size-xs);
  user-select: none;
  transition: background-color var(--button-timeout) var(--motion-easing-default),
    box-shadow var(--button-timeout) var(--motion-easing-default);
  box-sizing: border-box;
  border-radius: 50%;
  text-align: center;
  padding: 0;
  margin: 0;
  position: relative;
  font-weight: var(--font-weight-bold);
}

.fdsAvatar-img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: cover;
  border-radius: 50%;
}

.fdsAvatar--m {
  font-size: var(--font-size-m);
  width: 32px;
  height: 32px;
  /* stylelint-disable-next-line declaration-property-unit-whitelist */
  line-height: 32px;
}

.fdsAvatar--s {
  font-size: var(--font-size-s);
  width: 24px;
  height: 24px;
  /* stylelint-disable-next-line declaration-property-unit-whitelist */
  line-height: 24px;
}
