.avatarRow {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.avatarRow-item {
  display: inline-block;
  flex-shrink: 1;
  overflow: visible;
}

.avatarRow-count {
  box-sizing: border-box;
  border-radius: 100%;
  background-color: var(--color-navy) !important;
  background-clip: padding-box;
  border-color: inherit;
  color: var(--color-white);
}

/**
 * Because `MuiAvatarShim` is designed to only render one
 * letter for no-photo avatars, we need to customize font
 * size for the count
 */
.media--s.avatarRow-count {
  font-size: var(--font-size-s);
}

.media--m.avatarRow-count {
  font-size: var(--font-size-m);
}

.media--l.avatarRow-count {
  font-size: var(--font-size-xl);
}

.media--xl.avatarRow-count {
  font-size: var(--font-size-3xl);
}

/**
* Size overrides
* ---------------
* This would be very clean with custom properties and `calc()`,
* but IE11 is stupid. We must hard code the widths of the
* avatar wrappers to create the overlap effect.
*/
.avatarRow--s .avatarRow-item {
  width: 16px;
}

.avatarRow--s .avatarRow-avatar,
.avatarRow--s .avatarRow-count {
  border-width: 1px !important;
}

.avatarRow--m .avatarRow-item {
  width: 26px;
}

.avatarRow--l .avatarRow-item {
  width: 40px;
}

.avatarRow--l .avatarRow-avatar,
.avatarRow--l .avatarRow-count {
  border-width: 3px !important;
}

.avatarRow--xl .avatarRow-item {
  width: 55px;
}

.avatarRow--xl .avatarRow-avatar,
.avatarRow--xl .avatarRow-count {
  border-width: 4px !important;
}
