
.countdownButton {
  position: relative;
}

.countdownButton-button,
.countdownButton-animation {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.countdownButton-animation {
  z-index: var(--zindex-main);
}

.countdownButton-button {
  z-index: calc(var(--zindex-main) + 1);
}
