
.countdownButton {
  position: relative;
}

.countdownButton-button,
.countdownButton-animation {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.countdownButton-button {
  margin-left: 1px;
  margin-top: 1px;
  z-index: 1;
}
