
.countdownButton {
  position: relative;
}

.countdownButton-button,
.countdownButton-animation {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.countdownButton-animation {
  z-index: 1;
}

.countdownButton-button {
  z-index: 2;
}
