.fdsMUIAvatar {
  box-sizing: border-box;
  border-radius: 100%;
  background-size: cover;
  background-position: center center;
  background-color: var(--color-sky);
}

.media--s .fdsMUIAvatar-initial {
  font-size: var(--font-size-m);
}

.media--m .fdsMUIAvatar-initial {
  font-size: var(--font-size-l);
}

.media--l .fdsMUIAvatar-initial {
  font-size: var(--font-size-2xl);
}

.media--xl .fdsMUIAvatar-initial {
  font-size: var(--font-size-3xl);
}
