name: Testing reusable workflow

on:
  workflow_call:

jobs:
  test:
    name: Testing
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: '14.x'
          cache: 'yarn'

      # - name: Cache Style Dictionary
      #   id: cache-dictionary
      #   uses: actions/cache@v2
      #   with:
      #     path: ../lib
      #     key: ${{ runner.os }}-${{ hashFiles('../src/components/**/*', '../src/base-styles/**/*', '../src/dictionary/**/*') }}

      - name: Yarn Install
        run: yarn --frozen-lockfile

      - name: Build Style Dictionary
        # if: steps.cache-dictionary.outputs.cache-hit != 'true'
        run: yarn build

      - name: Run tests
        run: yarn test
